<template>
  <p class="text-gray-300 text-xl mt-4 mb-2">Aprobación</p>
  <div class="flex space-x-2">
    <div class="w-full mb-3">
      <text-dropdown
        ref="diagnosisApprovalRef"
        :items="diagnosisOpts"
        label="Aprobación Diagnóstico"
        :default="APPROVAL_OPTS.PENDING"
        @selected="diagnosisApproval = $event"
        :disabled="
          disabled ||
          status === OTSTATUSES.DIAGNOSIS_FINISHED ||
          status === OTSTATUSES.WORKSHOP_WORKING ||
          status === OTSTATUSES.WORKSHOP_FINISHED ||
          status === OTSTATUSES.SERVICES_APPROVAL_PENDING
        "
      />
      <p
        class="text-center text-sm"
        v-if="diagnosisApproval === APPROVAL_OPTS.PENDING"
      >
        Requiere aprobación para ingresar a diagnóstico
      </p>
      <p
        class="text-center text-sm"
        v-else-if="diagnosisApproval === APPROVAL_OPTS.APPROVED"
      >
        Cliente aprueba que producto ingrese para ser diagnósticado.
      </p>
      <p
        class="text-center text-sm"
        v-else-if="diagnosisApproval === APPROVAL_OPTS.REJECTED"
      >
        Cliente rechaza que producto ingrese para ser diagnósticado.
      </p>
      <p
        class="text-center text-sm"
        v-else-if="diagnosisApproval === APPROVAL_OPTS.OMITTED"
      >
        No se realiza diagnóstico.
      </p>
    </div>
    <div class="w-full mb-3">
      <text-dropdown
        ref="servicesApprovalRef"
        :items="servicesOpts"
        label="Aprobación Servicios"
        :default="APPROVAL_OPTS.PENDING"
        @selected="servicesApproval = $event"
        :disabled="disabled"
      />
      <p
        class="text-center text-sm"
        v-if="servicesApproval === APPROVAL_OPTS.PENDING"
      >
        Requiere aprobación para ingresar a taller
      </p>
      <p
        class="text-center text-sm"
        v-else-if="servicesApproval === APPROVAL_OPTS.APPROVED"
      >
        Cliente aprueba que producto ingrese para ser reparado.
      </p>
      <p
        class="text-center text-sm"
        v-else-if="servicesApproval === APPROVAL_OPTS.REJECTED"
      >
        Cliente rechaza que producto ingrese para ser reparado.
      </p>
    </div>
  </div>
  <textarea-custom
    placeholder="Observaciones"
    v-model:value="obs"
    :disabled="disabled"
  />
</template>
<script lang="ts">
import { OT } from '@/classes/ot.class';
import { APPROVAL_OPTS, OTSTATUSES, IOTApproval, IOT } from '@/models/ot.model';
import {
  ComponentPublicInstance,
  defineComponent,
  onMounted,
  PropType,
  ref
} from 'vue';
import TextareaCustom from '../UI/TextareaCustom.vue';
import TextDropdown from '../UI/TextDropdown.vue';

export default defineComponent({
  name: 'OTApproval',
  components: { TextareaCustom, TextDropdown },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    status: {
      type: String as PropType<OTSTATUSES>
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const diagnosisOpts = [
      { label: 'Aprobación Pendiente', id: APPROVAL_OPTS.PENDING },
      { label: 'Diagnóstico Aprobado', id: APPROVAL_OPTS.APPROVED },
      { label: 'Diagnóstico Rechazado', id: APPROVAL_OPTS.REJECTED },
      { label: 'Diagnóstico Omitido', id: APPROVAL_OPTS.OMITTED }
    ];
    const diagnosisApproval = ref<APPROVAL_OPTS>(APPROVAL_OPTS.PENDING);
    const servicesOpts = [
      { label: 'Aprobación Pendiente', id: APPROVAL_OPTS.PENDING },
      { label: 'Servicio Aprobado', id: APPROVAL_OPTS.APPROVED },
      { label: 'Servicio Rechazado', id: APPROVAL_OPTS.REJECTED }
    ];
    const servicesApproval = ref<APPROVAL_OPTS>(APPROVAL_OPTS.PENDING);
    const obs = ref('');
    //
    const diagnosisApprovalRef = ref<ComponentPublicInstance<
      typeof TextDropdown
    > | null>(null);
    const servicesApprovalRef = ref<ComponentPublicInstance<
      typeof TextDropdown
    > | null>(null);
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.approval) {
        if (otDefault.approval.diagnosisApproval) {
          diagnosisApproval.value = otDefault.approval.diagnosisApproval;
          const item = diagnosisOpts.find(
            (el) => el.id === otDefault?.approval?.diagnosisApproval
          );
          diagnosisApprovalRef.value &&
            item &&
            (diagnosisApprovalRef.value.value = item);
        }
        if (otDefault.approval.servicesApproval) {
          servicesApproval.value = otDefault.approval.servicesApproval;
          const item = servicesOpts.find(
            (el) => el.id === otDefault?.approval?.servicesApproval
          );
          servicesApprovalRef.value &&
            item &&
            (servicesApprovalRef.value.value = item);
        }
        otDefault.approval.obs && (obs.value = otDefault.approval.obs);
      }
    });
    //
    const getCompData = (): IOTApproval => {
      return {
        diagnosisApproval: diagnosisApproval.value,
        servicesApproval: servicesApproval.value,
        obs: obs.value
      };
    };
    return {
      diagnosisOpts,
      servicesOpts,
      APPROVAL_OPTS,
      OTSTATUSES,
      diagnosisApproval,
      servicesApproval,
      obs,
      getCompData,
      diagnosisApprovalRef,
      servicesApprovalRef
    };
  }
});
</script>
