<template>
  <p class="text-gray-300 text-xl">Cliente</p>
  <div class="flex items-center space-x-2">
    <div class="pt-3 flex-grow">
      <text-input
        ref="dniRef"
        v-model:value="client.dni"
        placeholder="Rut"
        :disabled="
          formStatus === CLIENT_FORM_STATUS.FOUNDED ||
          formStatus === CLIENT_FORM_STATUS.NOT_FOUND ||
          disabled
        "
        :validations="['required', 'dni']"
      />
    </div>
    <btn-custom
      label=""
      :icon="['fas', 'times']"
      v-if="
        formStatus === CLIENT_FORM_STATUS.FOUNDED ||
        formStatus === CLIENT_FORM_STATUS.NOT_FOUND
      "
      @click="resetForm"
      :disabled="disabled"
    />
    <btn-custom
      :icon="['fa', 'search']"
      label=""
      @click="searchClient"
      :loading="loading"
      :disabled="disabled"
    />
  </div>
  <div class="flex">
    <text-input
      ref="nameRef"
      v-model:value="client.name"
      placeholder="Nombre"
      :disabled="formStatus === CLIENT_FORM_STATUS.NOT_SEARCH || disabled"
      :validations="['required']"
    />
  </div>
  <div class="flex md:space-x-3 flex-col md:flex-row">
    <text-input
      ref="phoneRef"
      v-model:value="client.phone"
      placeholder="Teléfono"
      :disabled="formStatus === CLIENT_FORM_STATUS.NOT_SEARCH || disabled"
      :validations="['required']"
    />
    <text-input
      ref="emailRef"
      v-model:value="client.email"
      placeholder="Email"
      :disabled="formStatus === CLIENT_FORM_STATUS.NOT_SEARCH || disabled"
      :validations="['required', 'email']"
    />
  </div>
  <div class="flex space-x-3">
    <text-input
      v-model:value="client.address"
      placeholder="Dirección"
      :disabled="formStatus === CLIENT_FORM_STATUS.NOT_SEARCH || disabled"
    />
  </div>
  <p v-if="client.obs">
    <span class="font-semibold">OBS:</span>
    <span class="font-light text-gray-400">{{ client.obs }}</span>
  </p>
  <div class="flex" v-if="formStatus !== CLIENT_FORM_STATUS.NOT_SEARCH">
    <div class="flex-grow"></div>
    <btn-custom
      :label="
        formStatus === CLIENT_FORM_STATUS.FOUNDED
          ? 'Actualizar Datos'
          : 'Crear Cliente'
      "
      @click="createOrUpdateClient"
      :loading="loading"
      :disabled="disabled"
    />
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  reactive,
  watch,
  ref,
  computed,
  ComponentPublicInstance,
  nextTick,
  PropType,
  onMounted
} from 'vue';
import TextInput from '@/components/UI/TextInput.vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { rutCleaner, rutFormatter, validateForm } from '@/utils';
import { Firebase } from '@/classes/firebase.class';
import { IClient } from '@/models/client.model';
import { toastController } from '@/store/toast.store';
import moment from 'moment-timezone';
import { CLIENT_FORM_STATUS, IOT } from '@/models/ot.model';
import { OT } from '@/classes/ot.class';

export default defineComponent({
  name: 'OTClient',
  components: {
    TextInput,
    BtnCustom
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const fb = Firebase.getInstance();
    const clientUID = ref('');
    const client = reactive<IClient>({
      dni: '',
      name: '',
      email: '',
      address: '',
      obs: '',
      phone: ''
    });
    const formStatus = ref<CLIENT_FORM_STATUS>(CLIENT_FORM_STATUS.NOT_SEARCH);
    watch(
      () => client.dni,
      (val) => {
        if (val && val.length > 7) client.dni = rutFormatter(client.dni + '');
        else client.dni = rutCleaner(client.dni + '', false);
      }
    );
    //
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      props.default?.data.ot.clientUID && (clientUID.value = props.default?.data.ot.clientUID);
      if (otDefault && otDefault.client) {
        client.dni = otDefault?.client?.dni;
        client.name = otDefault.client?.name || '';
        client.email = otDefault.client?.email || '';
        client.address = otDefault.client?.address || '';
        client.phone = otDefault.client?.phone || '';
        formStatus.value = CLIENT_FORM_STATUS.FOUNDED || '';
      }
    });
    //
    const phoneRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const dniRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const nameRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const emailRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const loading = computed(() => fb.loadingState);
    const searchClient = async (): Promise<void> => {
      const valid = validateForm([dniRef]);
      if (!valid) return;
      const dniQuery = rutCleaner(client.dni + '', false);
      const request = await fb.getCollection<IClient>('clients', {
        query: [{ key: 'dni', op: '==', value: dniQuery }]
      });
      if (request && request?.docs.length > 0) {
        toastController({ text: 'Cliente encontrado', status: 'success' });
        clientUID.value = request.docs[0].uid;
        client.name = request.docs[0].data?.name + '';
        client.email = request.docs[0].data?.email + '';
        client.address = request.docs[0].data?.address + '';
        client.obs = request.docs[0].data?.obs + '';
        client.phone = request.docs[0].data?.phone + '';
        formStatus.value = CLIENT_FORM_STATUS.FOUNDED;
      } else {
        toastController({ text: 'Cliente no encontrado', status: 'info' });
        clientUID.value = '';
        client.name = '';
        client.email = '';
        client.address = '';
        client.obs = '';
        client.phone = '';
        formStatus.value = CLIENT_FORM_STATUS.NOT_FOUND;
      }
      await nextTick();
      validateForm([nameRef, emailRef, phoneRef]);
    };
    const resetForm = () => {
      clientUID.value = '';
      client.dni = '';
      client.name = '';
      client.email = '';
      client.address = '';
      client.obs = '';
      client.phone = '';
      formStatus.value = CLIENT_FORM_STATUS.NOT_SEARCH;
    };
    const createOrUpdateClient = async () => {
      const valid = validateForm([nameRef, emailRef, phoneRef]);
      if (!valid) return;
      const data: IClient = { ...client };
      data.dni = rutCleaner(client.dni + '', false);
      if (formStatus.value === CLIENT_FORM_STATUS.FOUNDED) {
        if (!clientUID.value) {
          toastController({ text: 'Hubo un error', status: 'danger' });
          return;
        }
        data.updatedBy = fb.currentUID;
        data.updatedAt = +moment().format('x');
        const updated = await fb.updateDoc<IClient>(
          'clients',
          clientUID.value,
          data
        );
        if (!updated) {
          toastController({
            text: 'Error actualizando cliente',
            status: 'danger'
          });
          return;
        }
        toastController({ text: 'Cliente actualizado', status: 'success' });
      } else if (formStatus.value === CLIENT_FORM_STATUS.NOT_FOUND) {
        data.createdBy = fb.currentUID;
        data.createdAt = +moment().format('x');
        const created = await fb.addDoc<IClient>('clients', data);
        if (!created) {
          toastController({ text: 'Errorn creando cliente', status: 'danger' });
          return;
        }
        clientUID.value = created.uid;
        formStatus.value = CLIENT_FORM_STATUS.FOUNDED;
        toastController({ text: 'Cliente creado', status: 'success' });
      }
    };
    const getCompData = (): { uid: string; client: IClient } | null => {
      const valid = validateForm([dniRef, nameRef, emailRef, phoneRef]);
      if (!valid) return null;
      if (!clientUID.value)
        toastController({
          text: 'Debe registrar el cliente',
          status: 'danger'
        });
      return { uid: clientUID.value, client };
    };
    return {
      client,
      searchClient,
      loading,
      formStatus,
      resetForm,
      dniRef,
      nameRef,
      emailRef,
      phoneRef,
      createOrUpdateClient,
      CLIENT_FORM_STATUS,
      getCompData
    };
  }
});
</script>
