<template>
  <p class="text-lg text-gray-600 mt-2">
    Orden de Trabajo: <span class="font-semibold text-black">{{ otid }}</span>
  </p>
  <p>
    Estado:
    <span class="font-bold text-black"> {{ status.label || '---' }} </span>
  </p>
  <slot></slot>
  <divider />
  <client ref="clientRef" :disabled="initialDisabled" :default="ot" />
  <divider />
  <state ref="stateRef" :disabled="initialDisabled" :default="ot" />
  <divider />
  <service :default="ot" ref="serviceRef" :disabled="serviceDisabled" />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      label=""
      :icon="['fa', 'pen']"
      v-if="(role === 'ADMIN_ROLE' || role === 'SUPERVISOR_ROLE') && serviceDisabled"
      @click="editServices = true"
    />
    <btn-custom
      color="success"
      label="Registrar OT"
      @click="getInitialCompsData"
      :loading="stage === STAGE_NAMES.INITIAL_DATA && loading"
      :disabled="serviceDisabled"
    />
  </div>
  <divider />
  <approval
    :default="ot"
    ref="approvalRef"
    :status="status.status"
    :disabled="approvalDisable"
  />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      label=""
      :icon="['fa', 'pen']"
      v-if="(role === 'ADMIN_ROLE' || role === 'SUPERVISOR_ROLE') && approvalDisable"
      @click="editApproval = true"
    />
    <btn-custom
      color="success"
      label="Registrar Estado Aprobación"
      :loading="stage === STAGE_NAMES.APPROVAL && loading"
      @click="getApprovalData"
      :disabled="approvalDisable"
    />
  </div>
  <divider />
  <diagnosis ref="diagnosisRef" :status="status.status" :default="ot" />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      color="success"
      label="Registrar Estado Diagnóstico"
      :loading="stage === STAGE_NAMES.DIAGNOSIS && loading"
      @click="getDiagnosisData"
      :disabled="
        !(
          status.status === OTSTATUSES.DIAGNOSIS_APPROVED ||
          status.status === OTSTATUSES.DIAGNOSIS_WORKING
        )
      "
    />
  </div>
  <divider />
  <workshop ref="workshopRef" :status="status.status" :default="ot" />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      color="success"
      label="Registrar Estado Taller"
      :loading="stage === STAGE_NAMES.WORKSHOP && loading"
      @click="getWorkshopData"
      :disabled="
        !(
          status.status === OTSTATUSES.SERVICES_APPROVED ||
          status.status === OTSTATUSES.WORKSHOP_WORKING
        )
      "
    />
  </div>
  <divider />
  <delivery :default="ot" ref="deliveryRef" :disabled="deliveryDisable" />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      label=""
      :icon="['fa', 'pen']"
      v-if="(role === 'ADMIN_ROLE' || role === 'SUPERVISOR_ROLE') && deliveryDisable"
      @click="editDelivery = true"
    />
    <btn-custom
      color="success"
      label="Registrar Estado Entrega"
      :loading="stage === STAGE_NAMES.DELIVERY && loading"
      @click="getDeliveryData"
      :disabled="deliveryDisable"
    />
  </div>
  <divider />
  <payment :default="ot" ref="paymentRef" :disabled="paymentDisable" />
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom
      label=""
      :icon="['fa', 'pen']"
      v-if="(role === 'ADMIN_ROLE' || role === 'SUPERVISOR_ROLE') && paymentDisable"
      @click="editPayment = true"
    />
    <btn-custom
      color="success"
      label="Registrar Estado Pago"
      :loading="stage === STAGE_NAMES.PAYMENT && loading"
      @click="getPaymentData"
      :disabled="paymentDisable"
    />
  </div>
</template>
<script lang="ts">
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  PropType,
  ref
} from 'vue';
import generateUniqueId from 'generate-unique-id';
import Client from '@/components/ot/Client.vue';
import Service from '@/components/ot/Service.vue';
import State from '@/components/ot/State.vue';
import Approval from '@/components/ot/Approval.vue';
import Workshop from '@/components/ot/Wokshop.vue';
import Diagnosis from '@/components/ot/Diagnosis.vue';
import Delivery from '@/components/ot/Delivery.vue';
import Payment from '@/components/ot/Payment.vue';
import BtnCustom from '../UI/BtnCustom.vue';
import { OT } from '@/classes/ot.class';
import { IClient } from '@/models/client.model';
import {
  IOT,
  IOTDelivery,
  IOTPayment,
  IOTServices,
  IOTState,
  IOTWorkshop,
  OTSTATUSES
} from '@/models/ot.model';
import { toastController } from '@/store/toast.store';
import { rutCleaner } from '@/utils';
import { Firebase } from '@/classes/firebase.class';
import { modalController } from '@/store/modal.store';
enum STAGE_NAMES {
  INITIAL_DATA = 'INITIAL_DATA',
  APPROVAL = 'APPROVAL',
  STATE = 'STATE',
  DIAGNOSIS = 'DIAGNOSIS',
  WORKSHOP = 'WORKSHOP',
  DELIVERY = 'DELIVERY',
  PAYMENT = 'PAYMENT'
}

export default defineComponent({
  name: 'OTCreate',
  components: {
    Client,
    Service,
    State,
    Approval,
    Workshop,
    Delivery,
    Payment,
    BtnCustom,
    Diagnosis
  },
  props: {
    otData: {
      type: Object as PropType<OT>
    }
  },
  emits: ['new-ot'],
  setup(props) {
    const fb = Firebase.getInstance();
    const loading = computed(() => fb.loadingState);
    const role = computed(() => fb.role);
    const stage = ref<STAGE_NAMES>(STAGE_NAMES.INITIAL_DATA);
    const ot = new OT();
    const otRef = ref<IOT>(ot.data.ot);
    const otid = ref('');
    const editServices = ref(false);
    const editApproval = ref(false);
    const editDelivery = ref(false);
    const editPayment = ref(false);
    const otidGenerator = () => {
      const letters = generateUniqueId({
        length: 6,
        useNumbers: false,
        useLetters: true
      });
      const numbers = generateUniqueId({
        length: 4,
        useNumbers: true,
        useLetters: false
      });
      const rnd = generateUniqueId({
        length: 3,
        useNumbers: true,
        useLetters: false
      });
      return `${letters.toUpperCase()}-${numbers}-${rnd}`;
    };
    const status = computed(() => ot.status);
    if (props.otData) {
      const data: IOT = { ...props.otData?.data.ot };
      ot.id = data.id + '';
      data.uid && (ot.uid = data.uid);
      data.clientUID &&
        data.client &&
        ot.setClient(data.clientUID, data.client);
      data.state && (ot.state = data.state);
      data.services && (ot.services = data.services);
      data.diagnosis && (ot.diagnosis = data.diagnosis);
      data.workshop && (ot.workshop = data.workshop);
      data.approval && (ot.approval = data.approval);
      data.delivery && (ot.delivery = data.delivery);
      data.payment && (ot.payment = data.payment);
    }
    if (ot.id) {
      otid.value = ot.id;
    } else {
      otid.value = otidGenerator();
      ot.id = otid.value;
    }
    const clientRef = ref<ComponentPublicInstance<typeof Client> | null>(null);
    const stateRef = ref<ComponentPublicInstance<typeof State> | null>(null);
    const serviceRef = ref<ComponentPublicInstance<typeof Service> | null>(
      null
    );

    const getInitialCompsData = async (): Promise<void> => {
      if (loading.value) return;
      const clientData: {
        uid: string;
        client: IClient;
      } = clientRef.value?.getCompData();
      const stateData: IOTState = stateRef.value?.getCompData();
      const serviceData: IOTServices = serviceRef.value?.getCompData();
      if (clientData && stateData && serviceData) {
        await ot.setClient(clientData.uid, clientData.client);
        ot.state = stateData;
        ot.services = serviceData;
        otRef.value = ot.data.ot;
        const { state, clientUID: client, services, uid } = ot.data.ot;
        stage.value = STAGE_NAMES.INITIAL_DATA;
        if (!clientData.client.dni) return;
        const res = await fb.callFunction<{ message: string; uid?: string }>(
          '/otinitialdata',
          {
            id: otid.value,
            state,
            client,
            dni: rutCleaner(clientData.client.dni, false),
            services,
            uid,
            status: ot.data.status.status
          }
        );
        if (res && res.ok) {
          let text = 'Estado Actualizado';
          if (res.body.uid) {
            ot.uid = res.body.uid;
            text = 'OT Creada';
          }
          toastController({ text, status: 'success' });
          editServices.value = false;
        } else {
          toastController({ text: 'Error registrando OT', status: 'danger' });
          if (!res || !res.ok) modalController({ show: false });
        }
      }
    };
    const approvalRef = ref<ComponentPublicInstance<typeof Approval> | null>(
      null
    );
    const getApprovalData = async () => {
      if (loading.value) return;
      const ap = approvalRef.value?.getCompData();
      ot.approval = ap;
      otRef.value = ot.data.ot;
      stage.value = STAGE_NAMES.APPROVAL;
      const { uid, approval } = ot.data.ot;
      if (!uid) return;
      const res = await fb.callFunction<{ message: string; uid?: string }>(
        '/otdata',
        { uid, section: 'APPROVAL', approval, status: ot.data.status.status }
      );
      let text = 'Error registrando OT';
      let status: 'danger' | 'success' = 'danger';
      if (res && res.ok) {
        text = 'Estado Actualizado';
        status = 'success';
      }
      editApproval.value = false;
      toastController({ text, status });
      if (!res || !res.ok) modalController({ show: false });
    };
    const diagnosisRef = ref<ComponentPublicInstance<typeof Diagnosis> | null>(
      null
    );
    const getDiagnosisData = async () => {
      if (loading.value) return;
      const dg: IOTWorkshop | null = diagnosisRef.value?.getCompData();
      if (dg) {
        ot.diagnosis = dg;
        otRef.value = ot.data.ot;
        stage.value = STAGE_NAMES.DIAGNOSIS;
        const { uid, diagnosis } = ot.data.ot;
        if (!uid) return;
        const res = await fb.callFunction<{ message: string; uid?: string }>(
          '/otdata',
          {
            uid,
            section: 'DIAGNOSIS',
            diagnosis,
            status: ot.data.status.status
          }
        );
        let text = 'Error registrando OT';
        let status: 'danger' | 'success' = 'danger';
        if (res && res.ok) {
          text = 'Estado Actualizado';
          status = 'success';
        }
        toastController({ text, status });
        if (!res || !res.ok) modalController({ show: false });
      }
    };
    const workshopRef = ref<ComponentPublicInstance<typeof Workshop> | null>(
      null
    );
    const getWorkshopData = async () => {
      if (loading.value) return;
      const ws: IOTWorkshop | null = workshopRef.value?.getCompData();
      if (ws) {
        ot.workshop = ws;
        otRef.value = ot.data.ot;
        stage.value = STAGE_NAMES.WORKSHOP;
        const { uid, workshop } = ot.data.ot;
        if (!uid) return;
        const res = await fb.callFunction<{ message: string; uid?: string }>(
          '/otdata',
          { uid, section: 'WORKSHOP', workshop, status: ot.data.status.status }
        );
        let text = 'Error registrando OT';
        let status: 'danger' | 'success' = 'danger';
        if (res && res.ok) {
          text = 'Estado Actualizado';
          status = 'success';
        }
        toastController({ text, status });
        if (!res || !res.ok) modalController({ show: false });
      }
    };
    const deliveryRef = ref<ComponentPublicInstance<typeof Delivery> | null>(
      null
    );
    const getDeliveryData = async () => {
      if (loading.value) return;
      const dl: IOTDelivery = deliveryRef.value?.getCompData();
      if (dl) {
        ot.delivery = dl;
        otRef.value = ot.data.ot;
        stage.value = STAGE_NAMES.DELIVERY;
        const { uid, delivery } = ot.data.ot;
        if (!uid) return;
        const res = await fb.callFunction<{ message: string; uid?: string }>(
          '/otdata',
          { uid, section: 'DELIVERY', delivery, status: ot.data.status.status }
        );
        let text = 'Error registrando OT';
        let status: 'danger' | 'success' = 'danger';
        if (res && res.ok) {
          text = 'Estado Actualizado';
          status = 'success';
        }
        editDelivery.value = false;
        toastController({ text, status });
        if (!res || !res.ok) modalController({ show: false });
      }
    };
    const paymentRef = ref<ComponentPublicInstance<typeof Payment> | null>(
      null
    );
    const getPaymentData = async () => {
      if (loading.value) return;
      const pay: IOTPayment = paymentRef.value?.getCompData();
      if (pay) {
        ot.payment = pay;
        otRef.value = ot.data.ot;
        stage.value = STAGE_NAMES.PAYMENT;
        const { uid, payment } = ot.data.ot;
        if (!uid) return;
        const res = await fb.callFunction<{ message: string; uid?: string }>(
          '/otdata',
          { uid, section: 'PAYMENT', payment, status: ot.data.status.status }
        );
        let text = 'Error registrando OT';
        let status: 'danger' | 'success' = 'danger';
        if (res && res.ok) {
          text = 'Estado Actualizado';
          status = 'success';
        }
        editPayment.value = false;
        toastController({ text, status });
        if (!res || !res.ok) modalController({ show: false });
      }
    };
    const initialDisabled = computed(() => {
      if (editServices.value && (role.value === 'ADMIN_ROLE' || role.value === 'SUPERVISOR_ROLE')) return false;
      if (status.value.status !== OTSTATUSES.ON_REQUEST) return true;
      return false;
    });
    const serviceDisabled = computed(() => {
      if (editServices.value && (role.value === 'ADMIN_ROLE' || role.value === 'SUPERVISOR_ROLE')) return false;
      const val = status.value.status as OTSTATUSES;
      if (
        val === OTSTATUSES.WORKSHOP_FINISHED ||
        val === OTSTATUSES.TO_LOCAL_PICKUP ||
        val === OTSTATUSES.TO_DELIVERY ||
        val === OTSTATUSES.ON_LOCAL ||
        (val as OTSTATUSES) === OTSTATUSES.TO_LOCAL_PICKUP ||
        (val as OTSTATUSES) === OTSTATUSES.TO_DELIVERY ||
        (val as OTSTATUSES) === OTSTATUSES.ON_LOCAL ||
        val === OTSTATUSES.WITHDRAWED ||
        val === OTSTATUSES.DELIVERED ||
        val === OTSTATUSES.DIAGNOSIS_REJECTED ||
        val === OTSTATUSES.SERVICES_REJECTED
      )
        return true;
      return false;
    });
    const approvalDisable = computed(() => {
      if (role.value === 'ADMIN_ROLE' || role.value === 'SUPERVISOR_ROLE') {
        if (editApproval.value) return false;
        if (
          status.value.status === OTSTATUSES.APPROVAL_PENDING ||
          status.value.status === OTSTATUSES.DIAGNOSIS_FINISHED ||
          status.value.status === OTSTATUSES.SERVICES_APPROVAL_PENDING
        ) {
          return false;
        } else {
          return true;
        }
      } else {
        return true;
      }
    });
    const deliveryDisable = computed(() => {
      if (role.value === 'ADMIN_ROLE' || role.value === 'SUPERVISOR_ROLE') {
        if (editDelivery.value) return false;
        if (
          status.value.status === OTSTATUSES.WORKSHOP_FINISHED ||
          status.value.status === OTSTATUSES.CLIENT_NOT_FOUND ||
          status.value.status === OTSTATUSES.DIAGNOSIS_REJECTED ||
          status.value.status === OTSTATUSES.SERVICES_REJECTED
        ) {
          return false;
        } else {
          return true;
        }
      } else {
        return true;
      }
    });
    const paymentDisable = computed(() => {
      if (role.value === 'ADMIN_ROLE' || role.value === 'SUPERVISOR_ROLE') {
        if (editPayment.value) return false;
        if (
          status.value.status === OTSTATUSES.TO_LOCAL_PICKUP ||
          status.value.status === OTSTATUSES.TO_DELIVERY ||
          status.value.status === OTSTATUSES.ON_LOCAL
        ) {
          return false;
        } else {
          return true;
        }
      } else {
        return true;
      }
    });
    return {
      ot,
      otid,
      status,
      clientRef,
      stateRef,
      serviceRef,
      getInitialCompsData,
      approvalRef,
      getApprovalData,
      diagnosisRef,
      getDiagnosisData,
      workshopRef,
      getWorkshopData,
      deliveryRef,
      getDeliveryData,
      paymentRef,
      getPaymentData,
      otRef,
      OTSTATUSES,
      stage,
      loading,
      STAGE_NAMES,
      role,
      initialDisabled,
      serviceDisabled,
      approvalDisable,
      deliveryDisable,
      paymentDisable,
      editServices,
      editApproval,
      editDelivery,
      editPayment
    };
  }
});
</script>
