<template>
  <p class="text-gray-300 text-xl mt-4 mb-2">Entrega
  </p>
  <div class="flex flex-col md:flex-row md:space-x-2 mb-4">
    <div class="w-full md:w-1/3">
      <text-dropdown label="Contactar Cliente" :items="contactOpts" @selected="contacted = $event" :disabled="disabled" ref="contactedRef" />
    </div>
    <textarea-custom placeholder="Observaciones" v-model:value="contactedObs" :disabled="disabled" />
  </div>
  <div class="flex flex-col md:flex-row md:space-x-2">
    <div class="w-full md:w-1/3">
      <text-dropdown  label="Tipo de Entrega" :items="deliveryOpts" @selected="deliveryType = $event" :disabled="disabled" ref="deliveryTypeRef" />
    </div>
    <textarea-custom placeholder="Observaciones" v-model:value="deliveryTypeObs" :disabled="disabled" />
  </div>
</template>
<script lang="ts">
import { ComponentPublicInstance, defineComponent, onMounted, PropType, ref } from 'vue';
import TextDropdown from '../UI/TextDropdown.vue';
import TextareaCustom from '../UI/TextareaCustom.vue';
import { CONTACT_OPTS, DELIVERY_OPTS, IOT, IOTDelivery } from '@/models/ot.model';
import { toastController } from '@/store/toast.store';
import { OT } from '@/classes/ot.class';

export default defineComponent({
  components: { TextDropdown, TextareaCustom },
  name: 'OTDelivery',
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const contactOpts = [
      { label: 'Cliente contactado', id: CONTACT_OPTS.CONTACTED },
      { label: 'Cliente no responde', id : CONTACT_OPTS.NOT_FOUND }
    ];
    const contacted = ref<CONTACT_OPTS | null>(null);
    const contactedObs = ref('');
    const deliveryOpts = [
      { label: 'No Especificado', id: DELIVERY_OPTS.UNESPECIFIED },
      { label: 'Retiro en Local', id: DELIVERY_OPTS.LOCAL_PICKUP },
      { label: 'Despacho', id : DELIVERY_OPTS.DELIVERY }
    ];
    const deliveryType = ref<DELIVERY_OPTS | null>(null);
    const deliveryTypeObs = ref('');
    //
    const contactedRef = ref<ComponentPublicInstance<typeof TextDropdown> | null>(null);
    const deliveryTypeRef = ref<ComponentPublicInstance<typeof TextDropdown> | null>(null);
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.delivery) {
        if (otDefault.delivery.contacted) {
          contacted.value = otDefault.delivery.contacted;
          const item = contactOpts.find(
            (el) => el.id === otDefault?.delivery?.contacted
          );
          contactedRef.value &&
            item &&
            (contactedRef.value.value = item);
        }
        if (otDefault.delivery.deliveryType) {
          deliveryType.value = otDefault.delivery.deliveryType;
          const item = deliveryOpts.find(
            (el) => el.id === otDefault?.delivery?.deliveryType
          );
          deliveryTypeRef.value &&
            item &&
            (deliveryTypeRef.value.value = item);
        }
        otDefault.delivery.contactedObs && (contactedObs.value = otDefault.delivery.contactedObs);
        otDefault.delivery.deliveryTypeObs && (deliveryTypeObs.value = otDefault.delivery.deliveryTypeObs);
      }
    });
    //
    const getCompData = (): IOTDelivery | null => {
      if (!contacted.value) {
        toastController({ text: 'Especifique si hubo contacto con el cliente', status: 'danger' });
        return null;
      }
      if (contacted.value === CONTACT_OPTS.CONTACTED && !deliveryType.value) {
        toastController({ text: 'Especifique tipo de entrega', status: 'danger' });
        return null;
      }
      const data: IOTDelivery = {
        contacted: contacted.value,
        contactedObs: contactedObs.value,
        deliveryTypeObs: deliveryTypeObs.value
      };
      if (deliveryType.value) data.deliveryType = deliveryType.value;
      return data;
    };
    return {
      contactOpts,
      deliveryOpts,
      contacted,
      deliveryType,
      contactedObs,
      deliveryTypeObs,
      getCompData,
      contactedRef,
      deliveryTypeRef
    };
  }
});
</script>
