<template>
  <p class="text-gray-300 text-xl mt-4 mb-2">Diagnóstico
  </p>
  <div class="flex space-x-2">
    <div class="w-full">
      <btn-custom label="Iniciar Diagnóstico" @click="setTime('start')" :disabled="!(status === OTSTATUSES.DIAGNOSIS_APPROVED)" />
      <p class="text-center text-sm">Diagnóstico iniciado el: <span class="font-bold"> {{ startedAt.label }} </span> </p>
    </div>
    <div class="w-full">
      <btn-custom label="Terminar Diagnóstico" @click="setTime('finish')" :disabled="!(status === OTSTATUSES.DIAGNOSIS_WORKING)" />
      <p class="text-center text-sm">Diagnóstico terminado el: <span class="font-bold"> {{ finishedAt.label }} </span> </p>
    </div>
  </div>
  <div class="pt-2"></div>
  <textarea-custom placeholder="Observaciones" v-model:value="obs" :disabled="!(status === OTSTATUSES.DIAGNOSIS_APPROVED || status === OTSTATUSES.DIAGNOSIS_WORKING)" />
</template>
<script lang="ts">
import { defineComponent, onMounted, PropType, reactive, ref } from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import TextareaCustom from '../UI/TextareaCustom.vue';
import { IDayMin } from '@/models/calendar.model';
import moment from 'moment-timezone';
import { IOT, IOTWorkshop, OTSTATUSES } from '@/models/ot.model';
import { toastController } from '@/store/toast.store';
import { cleanSource } from '@/utils';
import { OT } from '@/classes/ot.class';

export default defineComponent({
  name: 'OTDiagnosis',
  components: { BtnCustom, TextareaCustom },
  props: {
    status: {
      type: String as PropType<OTSTATUSES>
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const startedAt = reactive<IDayMin>({ timestamp: 0, label: '---' });
    const finishedAt = reactive<IDayMin>({ timestamp: 0, label: '---' });
    const setTime = (type: 'start' | 'finish') => {
      const timestamp = +moment.utc().format('x');
      const label = moment().format('DD MMMM YYYY HH:mm');
      if (type === 'start') {
        startedAt.timestamp = timestamp;
        startedAt.label = label;
      } else if (type === 'finish') {
        finishedAt.timestamp = timestamp;
        finishedAt.label = label;
      }
    };
    const obs = ref('');
    //
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.diagnosis) {
        if (otDefault.diagnosis?.startedAt) {
          startedAt.timestamp = otDefault.diagnosis.startedAt.timestamp;
          startedAt.label = otDefault.diagnosis.startedAt.label;
        }
        if (otDefault.diagnosis?.finishedAt) {
          finishedAt.timestamp = otDefault.diagnosis.finishedAt.timestamp;
          finishedAt.label = otDefault.diagnosis.finishedAt.label;
        }
        otDefault.diagnosis.obs && (obs.value = otDefault.diagnosis.obs);
      }
    });
    //
    const getCompData = (): IOTWorkshop | null => {
      if (!startedAt.timestamp) {
        toastController({ text: 'Debe iniciar servicio de diagnóstico', status: 'danger' });
        return null;
      }
      // if (startedAt.timestamp && !finishedAt.timestamp) {
      //   toastController({ text: 'Debe finalizar servicio de diagnóstico', status: 'danger' });
      //   return null;
      // }
      return {
        startedAt: cleanSource<IDayMin>(startedAt),
        finishedAt: cleanSource<IDayMin>(finishedAt),
        obs: obs.value
      };
    };
    return {
      startedAt,
      finishedAt,
      obs,
      setTime,
      getCompData,
      OTSTATUSES
    };
  }
});
</script>
