<template>
  <p class="text-gray-300 text-xl mt-4 mb-2">Pago
  </p>
  <div>
    <text-input placeholder="Código de Pago" v-model:value="paymentCode" :disabled="disabled" />
    <text-dropdown label="Estado del Producto" :items="productStateOpts" @selected="withdrawStatus = $event" :required="true" ref="productStateDropdown" :disabled="disabled" />
    <textarea-custom placeholder="Observaciones" v-model:value="obs" :disabled="disabled" />
  </div>
</template>
<script lang="ts">
import { ComponentPublicInstance, defineComponent, onMounted, PropType, ref } from 'vue';
import TextInput from '@/components/UI/TextInput.vue';
import TextDropdown from '../UI/TextDropdown.vue';
import TextareaCustom from '../UI/TextareaCustom.vue';
import { IOT, IOTPayment, PRODUCT_STATE_OPTS } from '@/models/ot.model';
import { toastController } from '@/store/toast.store';
import { OT } from '@/classes/ot.class';

export default defineComponent({
  components: { TextInput, TextareaCustom, TextDropdown },
  name: 'OTPayment',
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const productStateOpts = [
      { label: 'Producto en Bodega', id: PRODUCT_STATE_OPTS.ON_STORE },
      { label: 'Producto Retirado', id : PRODUCT_STATE_OPTS.WITHDRAWED },
      { label: 'Producto Despachado', id : PRODUCT_STATE_OPTS.DELIVERED },
    ];
    const paymentCode = ref('');
    const withdrawStatus = ref<PRODUCT_STATE_OPTS | null>(null);
    const obs =ref('');
    const productStateDropdown = ref<ComponentPublicInstance<typeof TextDropdown> | null>(null);
    //
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.payment) {
        if (otDefault.payment) {
          otDefault.payment.withdrawStatus && (withdrawStatus.value = otDefault.payment.withdrawStatus);
          const item = productStateOpts.find(
            (el) => el.id === otDefault?.payment?.withdrawStatus
          );
          productStateDropdown.value &&
            item &&
            (productStateDropdown.value.value = item);
        }
        otDefault.payment.paymentCode && (paymentCode.value = otDefault.payment.paymentCode);
        otDefault.payment.obs && (obs.value = otDefault.payment.obs);
      }
    });
    //
    const getCompData = (): IOTPayment | null => {
      const valid = productStateDropdown.value?.validationFn();
      if (!valid) return null;
      if (!withdrawStatus.value) {
        toastController({ text: 'Debe especificar estado del producto', status: 'danger' });
        return null;
      }
      // if (withdrawStatus.value !== PRODUCT_STATE_OPTS.ON_STORE && !paymentCode.value) {
      //   toastController({ text: 'Debe indicar codigo de pago', status: 'danger' });
      //   return null;
      // }
      return {
        paymentCode: paymentCode.value,
        withdrawStatus: withdrawStatus.value,
        obs: obs.value
      };
    };
    return {
      productStateOpts,
      withdrawStatus,
      paymentCode,
      obs,
      getCompData,
      productStateDropdown
    };
  }
});
</script>
