<template>
  <div class="pdf-item">
    <p class="pdf-item-title">{{label}}</p>
    <p class="pdf-item-content pt-1">
      {{ value }}
    </p>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PreviewItemOT',
  props: {
    label: {
      type: String,
      default: 'label'
    },
    value: {
      type: String,
      default: '---'
    }
  }
});
</script>
<style scoped>
.pdf-item {
  @apply flex;
  @apply flex-grow;
  @apply bg-gray-50;
  @apply items-stretch;
  @apply mb-1;
}
.pdf-item-title {
  @apply bg-gray-200;
  @apply px-3;
  @apply py-1;
  @apply font-semibold;
  min-width: 120px;
}
.pdf-item-content {
  @apply px-3;
}
</style>
