<template>
  <p class="font-light text-2xl text-gray-300">Versión PDF</p>
  <slot></slot>
  <div class="mb-4 flex md:space-x-2 flex-wrap flex-col md:flex-row">
    <check-box
      label="Datos de OT"
      :disabled="!ot.client"
      @selected="showOTData = $event"
      :value="showOTData"
    />
    <check-box
      label="Datos de Cliente"
      :disabled="!ot.client"
      @selected="showClientData = $event"
      :value="showClientData"
    />
    <check-box
      label="Estado de Ingreso"
      :disabled="!ot.client"
      @selected="showStateData = $event"
      :value="showStateData"
    />
    <check-box
      label="Servicios"
      :disabled="!ot.services"
      @selected="showServicesData = $event"
      :value="showServicesData"
    />
    <check-box
      label="Diagnóstico"
      :disabled="!ot.diagnosis"
      @selected="showDiagnosisData = $event"
      :value="showDiagnosisData"
    />
    <check-box
      label="Taller"
      :disabled="!ot.workshop"
      @selected="showWorkshopData = $event"
      :value="showWorkshopData"
    />
    <check-box
      label="Entrega"
      :disabled="!ot.delivery"
      @selected="showDeliveryData = $event"
      :value="showDeliveryData"
    />
    <check-box
      label="Pago"
      :disabled="!ot.payment"
      @selected="showPaymentData = $event"
      :value="showPaymentData"
    />
  </div>
  <div class="pdf-container" id="pdf">
    <p
      v-if="!otData"
      class="text-center text-gray-200 text-3xl font-light my-6"
    >
      OT no ha sido generada aún
    </p>
    <div v-else>
      <div v-if="showOTData">
        <p class="text-gray-300 font-light text-xl">OT</p>
        <div class="flex flex-col md:flex-row">
          <preview-item label="Id" :value="ot.id" />
          <preview-item
            label="Completado"
            :value="otData.data.completed ? 'Si' : 'No'"
          />
        </div>
        <preview-item label="Estado Actual" :value="status" />
        <div class="flex flex-col md:flex-row">
          <preview-item label="Creada el" :value="createdAt" />
          <preview-item label="Actualizada" :value="updatedAt" />
        </div>
      </div>
      <template v-if="ot.client && showClientData">
        <p class="text-gray-300 font-light text-xl">Cliente</p>
        <preview-item label="Nombre" :value="ot.client.name" />
        <preview-item label="Rut" :value="rutFormatter(ot.client.dni)" />
        <div class="flex flex-col md:flex-row">
          <preview-item label="Teléfono" :value="ot.client.phone" />
          <preview-item label="Email" :value="ot.client.email" />
        </div>
        <preview-item label="Dirección" :value="ot.client.address" />
      </template>
      <template v-if="ot.state && showStateData">
        <p class="text-gray-300 font-light text-xl">Estado de Ingreso</p>
        <preview-item
          label="Estado declarado"
          :value="ot.state.productDetailsOnArrive"
        />
        <preview-item label="Detalles" :value="ot.state.failureDeclaration" />
      </template>
      <template v-if="ot.services && showServicesData">
        <p class="text-gray-300 font-light text-xl">Servicios</p>
        <preview-item
          label="Entrega Diagnóstico"
          :value="ot.services.diagnosisDate.label"
        />
        <preview-item
          label="Entrega Final"
          :value="ot.services.deliveryDate.label"
        />
        <div
          v-for="(serv, i) in ot.services.services"
          :key="'serv' + i"
          class="flex flex-col md:flex-row"
        >
          <preview-item label="Servicio" :value="serv.description" />
          <preview-item label="Valor" :value="serv.value" />
        </div>
        <preview-item label="Observaciones" :value="ot.services.obs" />
      </template>
      <template v-if="ot.diagnosis && showDiagnosisData">
        <p class="text-gray-300 font-light text-xl">Diagnóstico</p>
        <preview-item
          label="Iniciado el"
          :value="ot.diagnosis.startedAt.label"
        />
        <preview-item
          label="Terminado el"
          :value="ot.diagnosis.finishedAt.label"
        />
        <preview-item label="Observaciones" :value="ot.diagnosis.obs" />
      </template>
      <template v-if="ot.workshop && showWorkshopData">
        <p class="text-gray-300 font-light text-xl">Taller</p>
        <preview-item
          label="Iniciado el"
          :value="ot.workshop.startedAt.label"
        />
        <preview-item
          label="Terminado el"
          :value="ot.workshop.finishedAt.label"
        />
        <preview-item label="Observaciones" :value="ot.workshop.obs" />
      </template>
      <template v-if="ot.delivery && showDeliveryData">
        <p class="text-gray-300 font-light text-xl">Entrega</p>
        <preview-item
          label="Estado Contacto"
          :value="contactOptsToLabel(ot.delivery.contacted)"
        />
        <preview-item label="Contacto obs." :value="ot.delivery.contactedObs" />
        <preview-item
          label="Tipo de Entrega"
          :value="deliveryOptsToLabel(ot.delivery.deliveryType)"
        />
        <preview-item label="Tipo obs." :value="ot.delivery.deliveryTypeObs" />
      </template>
      <template v-if="ot.payment && showPaymentData">
        <p class="text-gray-300 font-light text-xl">Pago</p>
        <preview-item label="Código Pago" :value="ot.payment.paymentCode" />
        <preview-item
          label="Estado"
          :value="productStateOptsToLabel(ot.payment.withdrawStatus)"
        />
        <preview-item label="Observaciones" :value="ot.payment.obs" />
      </template>
      <p class="mt-2 ml-2 italic text-sm pb-6">PDF generado el {{ date }}</p>
    </div>
  </div>
  <div class="pt-8"></div>
  <btn-custom label="guardar PDF" @click="downloadPDF" :disabled="!otData" />
</template>
<script lang="ts">
import { computed, defineComponent, PropType, ref } from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { OT } from '@/classes/ot.class';
import jsPDF from 'jspdf';
import domtoimage from 'dom-to-image';
import PreviewItem from '@/components/ot/PreviewItem.vue';
import moment from 'moment-timezone';
import CheckBox from '@/components/UI/CheckBox.vue';
import {
  IOT,
  productStateOptsToLabel,
  deliveryOptsToLabel,
  contactOptsToLabel
} from '@/models/ot.model';
import { rutFormatter } from '@/utils';

export default defineComponent({
  name: 'PreviewOt',
  components: {
    BtnCustom,
    PreviewItem,
    CheckBox
  },
  props: {
    otData: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const date = ref('');
    date.value = moment().format('DD MMMM YYYY HH:mm');
    const downloadPDF = () => {
      const elem = document.getElementById('pdf');
      if (!elem) return;
      const rect = elem.getClientRects();
      const name = `OT_${props.otData?.data.ot.id}_${moment().format('DD-MMMM-YYYY_HH:mm')}`;
      date.value = moment().format('DD MMMM YYYY HH:mm');
      domtoimage.toPng(elem, { quality: 1 }).then(function (dataUrl: any) {
        var img = new Image();
        img.src = dataUrl;
        const ratio = 575 / rect[0].width;
        const h = rect[0].height * ratio;
        const doc = new jsPDF('p', 'px', [595, h < 842 ? 842 : h]);
        doc.addImage(img, 'JPEG', 10, 10, 575, h);
        doc.save(`${name}.pdf`);
      });
    };
    const ot = ref<IOT | null>(null);
    props.otData && (ot.value = { ...props.otData.data.ot });
    const createdAt = computed(
      () => props.otData?.data.createdAt?.label || '---'
    );
    const updatedAt = computed(
      () => props.otData?.data.updatedAt?.label || '---'
    );
    const status = computed(() => props.otData?.data.status?.label || '---');
    const showOTData = ref(true);
    const showClientData = ref(true);
    const showStateData = ref(true);
    const showServicesData = ref(true);
    const showDiagnosisData = ref(true);
    const showWorkshopData = ref(true);
    const showDeliveryData = ref(true);
    const showPaymentData = ref(true);
    return {
      date,
      downloadPDF,
      ot,
      rutFormatter,
      productStateOptsToLabel,
      deliveryOptsToLabel,
      contactOptsToLabel,
      createdAt,
      updatedAt,
      status,
      showOTData,
      showClientData,
      showStateData,
      showServicesData,
      showDiagnosisData,
      showWorkshopData,
      showDeliveryData,
      showPaymentData
    };
  }
});
</script>
