<template>
  <div class="flex items-center my-4">
    <div class="flex-grow">
      <p class="text-gray-300 text-xl">Servicios</p>
    </div>
    <btn-custom label="Añadir Servicio" @click="addService('', '0')" :disabled="disabled" />
  </div>
  <div
    class="flex items-center space-x-2"
    v-for="(service, i) in services"
    :key="'service' + i"
  >
    <div class="w-full flex flex-col md:flex-row md:space-x-3">
      <div class="flex-grow-2">
        <text-input
          v-model:value="service.description"
          placeholder="Descripción"
          :disabled="disabled"
        />
      </div>
      <div class="flex-grow-1">
        <text-input v-model:value="service.value" placeholder="Valor" :disabled="disabled" />
      </div>
    </div>
    <btn-custom
      label=""
      :icon="['fas', 'times']"
      :disabled="i === 0 || disabled"
      @click="removeService(i)"
      class="-mt-2"
    />
  </div>
  <div class="flex justify-end items-center text-xl pr-14">
    <p class="pr-1 font-bold text-blue-500">Servicios</p>
    <p>$ {{ totalsCalculated.servicesLabel }}</p>
  </div>
  <div class="flex justify-end items-center text-xl pr-14">
    <p class="pr-1 font-bold text-blue-500">Impuesto {{ taxes * 100 }}% </p>
    <p>$ {{ totalsCalculated.taxesLabel }}</p>
  </div>
  <div class="flex justify-end items-center text-xl pr-14">
    <p class="pr-1 font-bold text-blue-500">Total</p>
    <p>$ {{ totalsCalculated.totalLabel }}</p>
  </div>
  <div class="mt-3">
    <calendar-input ref="diagnosisDateRef" label="Fecha de Diagnóstico" @selected="diagnosisDate = $event" :disabled="disabled" />
    <calendar-input ref="deliveryDateRef" label="Fecha de Entrega" @selected="serviceDate = $event" :disabled="disabled" />
    <textarea-custom placeholder="Observaciones" v-model:value="obs" :disabled="disabled" />
  </div>
</template>
<script lang="ts">
import { ComponentPublicInstance, computed, defineComponent, onMounted, PropType, ref, watch } from 'vue';
import { IService } from '@/models/service.model';
import TextInput from '@/components/UI/TextInput.vue';
import TextareaCustom from '@/components/UI/TextareaCustom.vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import CalendarInput from '../UI/CalendarInput.vue';
import { toastController } from '@/store/toast.store';
import { IDayMin } from '@/models/calendar.model';
import { IOT, IOTService, IOTServices } from '@/models/ot.model';
import { OT } from '@/classes/ot.class';

export default defineComponent({
  name: 'OTService',
  components: {
    TextInput,
    BtnCustom,
    TextareaCustom,
    CalendarInput
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const taxes = 0.19;
    const services = ref<IService[]>([{ description: '', value: '0' }]);
    const diagnosisDate = ref<IDayMin | null>(null);
    const serviceDate = ref<IDayMin | null>(null);
    const obs = ref('');
    const addService = (description: string, value: string) => {
      services.value.push({ description, value });
    };
    const removeService = (i: number) => {
      services.value.splice(i, 1);
    };
    const formateer = (val: string) => {
      const v = val.replace(/[^0-9]/g, '').replaceAll('.', '');
      const n = parseInt(v).toString();
      let s: string[] = [];
      let loop = 0;
      n.split('')
        .reverse()
        .forEach((el) => {
          loop++;
          if (loop === 4) {
            s.push('.');
            loop = 1;
          }
          s.push(el);
        });
      return s.reverse().join('');
    };
    watch(
      () => services.value,
      () => {
        services.value.map((el) => {
          el.value = el.value ? formateer(el.value + '') : '0';
          return el;
        });
      },
      { deep: true }
    );
    const moneyFormateer = (val: number) => {
      let s: string[] = [];
      let loop = 0;
      val
        .toString()
        .split('')
        .reverse()
        .forEach((el) => {
          loop++;
          if (loop === 4) {
            s.push('.');
            loop = 1;
          }
          s.push(el);
        });
      return s.reverse().join('');
    };
    const totalsCalculated = computed(() => {
      const servicesValue = services.value
        .map((el) => parseInt((el.value + '').replaceAll('.', '')) || 0)
        .reduce((acc, current) => acc + current);
      const taxesValue = Math.ceil(servicesValue * taxes);
      const totalValue = Math.ceil(servicesValue + taxesValue);
      return {
        servicesValue,
        servicesLabel: moneyFormateer(servicesValue),
        taxesValue,
        taxesLabel: moneyFormateer(taxesValue),
        totalValue,
        totalLabel: moneyFormateer(totalValue)
      };
    });
    //
    const diagnosisDateRef = ref<ComponentPublicInstance<typeof CalendarInput> | null>(null);
    const deliveryDateRef = ref<ComponentPublicInstance<typeof CalendarInput> | null>(null);
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.services) {
        otDefault.services.services.forEach(el => services.value.push(el));
        if (services.value.length > 1) services.value.splice(0, 1);
        otDefault.services.diagnosisDate?.timestamp && (diagnosisDate.value = otDefault.services.diagnosisDate);
        otDefault.services.diagnosisDate?.timestamp && diagnosisDateRef.value && (diagnosisDateRef.value.value = otDefault.services.diagnosisDate);
        otDefault.services.deliveryDate?.timestamp && (serviceDate.value = otDefault.services.deliveryDate);
        otDefault.services.deliveryDate?.timestamp && deliveryDateRef.value && (deliveryDateRef.value.value = otDefault.services.deliveryDate);
        otDefault.services.obs && (obs.value = otDefault.services.obs);
      }
    });
    //
    const getCompData = (): IOTServices | null => {
      if (services.value.length === 1 && (!services.value[0].description)) {
        toastController({ text: 'Debe agregar servicio a realizar', status: 'danger' });
        return null;
      }
      if (services.value.some(el => !el.value)) {
        toastController({ text: 'Debe establecer valores a servicios', status: 'danger' });
        return null;
      }
      if (services.value.some(el => !el.description)) {
        toastController({ text: 'Debe establecer descripción de servicios', status: 'danger' });
        return null;
      }
      const s: IOTService[] = services.value.map(el => {
        const r: IOTService = {
          description: el.description+'',
          value: el.value ? parseInt((el.value+'').replaceAll('.','')) : 0
        };
        return r;
      });
      return {
        services: s,
        diagnosisDate: { label: diagnosisDate.value?.label, timestamp: diagnosisDate.value?.timestamp },
        deliveryDate: { label: serviceDate.value?.label, timestamp: serviceDate.value?.timestamp  },
        obs: obs.value
      };
    };
    return {
      services,
      obs,
      addService,
      removeService,
      totalsCalculated,
      taxes,
      getCompData,
      diagnosisDate,
      serviceDate,
      diagnosisDateRef,
      deliveryDateRef
    };
  }
});
</script>
