<template>
  <p class="text-gray-300 text-xl mb-4">Estado</p>
  <textarea-custom
    ref="userDeclarationRef"
    placeholder="Declaración de la Falla"
    v-model:value="userStateDeclaration"
    :required="true"
    :disabled="disabled"
  />
  <div class="pt-3"></div>
  <textarea-custom placeholder="Estado del objeto" v-model:value="productObs" :required="true" ref="obsRef" :disabled="disabled" />
</template>
<script lang="ts">
import { OT } from '@/classes/ot.class';
import { IOT, IOTState } from '@/models/ot.model';
import { validateForm } from '@/utils';
import { ComponentPublicInstance, defineComponent, onMounted, PropType, ref } from 'vue';
import TextareaCustom from '../UI/TextareaCustom.vue';

export default defineComponent({
  name: 'OTState',
  components: { TextareaCustom },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<OT>
    }
  },
  setup(props) {
    const userStateDeclaration = ref('');
    const productObs = ref('');
    const userDeclarationRef = ref<ComponentPublicInstance<typeof TextareaCustom> | null>(null);
    const obsRef = ref<ComponentPublicInstance<typeof TextareaCustom> | null>(null);
    //
    onMounted(() => {
      let otDefault: IOT | null = null;
      props.default?.data.ot && (otDefault = { ...props.default?.data.ot });
      if (otDefault && otDefault.state) {
        userStateDeclaration.value = otDefault.state.failureDeclaration || '';
        productObs.value = otDefault.state.productDetailsOnArrive || '';
      }
    });
    //
    const getCompData = (): IOTState | null => {
      const valid = validateForm([userDeclarationRef, obsRef]);
      if (!valid) return null;
      return {
        failureDeclaration: userStateDeclaration.value,
        productDetailsOnArrive: productObs.value
      };
    };
    return {
      userStateDeclaration,
      userDeclarationRef,
      productObs,
      obsRef,
      getCompData
    };
  }
});
</script>
