<template>
  <div class="flex">
    <div class="flex-grow">
    </div>
    <btn-custom label="" :icon="['fas', mode]" @click="$emit('switch')" />
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';

export default defineComponent({
  name: 'PreviewSwitchOt',
  components: {
    BtnCustom
  },
  props: {
    mode: {
      type: String as PropType<'file-pdf' | 'file-signature'>,
      default: 'file-pdf',
      required: true
    }
  },
  emits: ['switch']
});
</script>
