<template>
  <div class="card">
    <div class="px-1">
      <text-input
        ref="dniRef"
        placeholder="Rut"
        v-model:value="client.dni"
        :validations="['required', 'dni']"
      />
      <text-input
        ref="nameRef"
        placeholder="Nombre"
        v-model:value="client.name"
        :validations="['required']"
      />
      <text-input
        ref="emailRef"
        placeholder="Email"
        v-model:value="client.email"
        :validations="['required', 'email']"
      />
      <text-input
        ref="phoneRef"
        placeholder="Teléfono"
        v-model:value="client.phone"
        :validations="['required']"
      />
      <text-input
        ref="addressRef"
        placeholder="Dirección"
        v-model:value="client.address"
      />
      <textarea-custom v-model:value="client.obs" placeholder="Observaciones" />
    </div>
  </div>
  <div class="flex">
    <div class="flex-grow"></div>
    <btn-custom label="Cancelar" @click="$emit('change-mode')" />
    <div class="pl-1"></div>
    <btn-custom label="Guardar Cambios" :loading="loading" @click="onSaveChanges" />
  </div>
</template>
<script lang="ts">
import { Firebase, IGenericDoc } from '@/classes/firebase.class';
import { IClient } from '@/models/client.model';
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  PropType,
  reactive,
  ref,
  watch
} from 'vue';
import TextInput from '@/components/UI/TextInput.vue';
import TextareaCustom from '@/components/UI/TextareaCustom.vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { rutFormatter, rutCleaner, validateForm } from '@/utils';
import moment from 'moment-timezone';
import { toastController } from '@/store/toast.store';

export default defineComponent({
  name: 'ClientDetailsEditor',
  props: {
    item: {
      type: Object as PropType<IGenericDoc<IClient>>,
      default: null
    }
  },
  components: {
    TextInput,
    BtnCustom,
    TextareaCustom
  },
  emits: ['updated-client', 'change-mode'],
  setup(props, { emit }) {
    const fb = Firebase.getInstance();
    const loading = computed(() => fb.loadingState);
    const client = reactive<IClient>({
      name: '',
      email: '',
      dni: '',
      address: '',
      obs: '',
      phone: ''
    });
    props.item?.data?.name && (client.name = props.item?.data.name+'');
    props.item?.data?.email && (client.email = props.item?.data.email+'');
    props.item?.data?.dni && (client.dni = rutFormatter(props.item?.data.dni+''));
    props.item?.data?.address && (client.address = props.item?.data.address+'');
    props.item?.data?.obs && (client.obs = props.item?.data.obs+'');
    props.item?.data?.phone && (client.phone = props.item?.data.phone+'');
    watch(
      () => client.dni,
      (val) => {
        if (val && val.length > 7) client.dni = rutFormatter(client.dni + '');
        else client.dni = rutCleaner(client.dni + '', false);
      }
    );
    const dniRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const emailRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const phoneRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const nameRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const onSaveChanges = async () => {
      const valid = validateForm([emailRef, dniRef, nameRef]);
      if (!valid) return;
      const data: IClient = {...props.item.data};
      data.name = client.name;
      data.email = client.email;
      data.dni = rutCleaner(client.dni+'', false);
      data.address = client.address;
      data.obs = client.obs;
      data.phone = client.phone;
      data.createdAt = props.item.data?.createdAt;
      data.updatedAt = +moment().format('x');
      data.updatedBy = fb.currentUID;
      const updated = await fb.updateDoc('clients', props.item.uid, data);
      if (!updated) {
        toastController({ text: 'Error Actualizando Cliente', status: 'danger' });
        return;
      }
      toastController({ text: 'Cliente actualizado', status: 'success' });
      emit('updated-client', { uid: props.item.uid, data });
      emit('change-mode');
    };
    return {
      loading,
      client,
      dniRef,
      emailRef,
      nameRef,
      phoneRef,
      onSaveChanges
    };
  }
});
</script>
