<template>
  <p class="font-light text-xl text-gray-400 mb-5">Detalles del Cliente</p>
  <div class="card">
    <div class="flex flex-col divide-y">
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Nombre</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{item.data.name}}</p>
        </div>
      </div>
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Rut</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{ rutFormatter(item.data.dni)}}</p>
        </div>
      </div>
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Email</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{item.data.email}}</p>
        </div>
      </div>
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Teléfono</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{item.data.phone}}</p>
        </div>
      </div>
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Dirección</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{item.data.address}}</p>
        </div>
      </div>
      <div class="flex items-stretch">
        <div class="w-1/3 md:w-1/4 p-2 bg-gray-100 text-blue-600 font-semibold">
          <p>Obs</p>
        </div>
        <div class="w-3/4 p-2">
          <p class="font-light">{{item.data.obs}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-grow"> </div>
    <btn-custom label="Editar Datos Cliente" @click="$emit('change-mode')" />
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { IGenericDoc } from '@/classes/firebase.class';
import { IClient } from '@/models/client.model';
import { rutFormatter } from '@/utils';
import BtnCustom from '@/components/UI/BtnCustom.vue';

export default defineComponent({
  name: 'ClientDetailsCard',
  components: {
    BtnCustom
  },
  props: {
    item: {
      type: Object as PropType<IGenericDoc<IClient>>,
      default: null
    }
  },
  emits:['change-mode'],
  setup() {
    return {
      rutFormatter
    };
  }
});
</script>
