<template>
  <div v-if="clientMode === 'data'">
    <client-details-card :item="item" @change-mode="clientMode = 'edit'" />
  </div>
  <client-details-editor :item="item" @updated-client="$emit('updated-client', $event)" v-else-if="clientMode === 'edit'" @change-mode="clientMode = 'data'"  />
</template>
<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { IGenericDoc } from '@/classes/firebase.class';
import { IClient } from '@/models/client.model';
import ClientDetailsCard from '@/components/client/ClientDetailsCard.vue';
import ClientDetailsEditor from '@/components/client/ClientDetailsEditor.vue';

export default defineComponent({
  name: 'ClientDetails',
  components: {
    ClientDetailsCard,
    ClientDetailsEditor
  },
  props: {
    item: {
      type: Object as PropType<IGenericDoc<IClient>>,
      default: null
    }
  },
  emits:['updated-client'],
  setup() {
    const clientMode = ref('data');
    return {
      clientMode
    };
  }
});
</script>
