<template>
  <p class="font-light text-xl text-gray-400 mb-5">Registrar nuevo cliente</p>
  <div class="px-1">
    <text-input
      ref="dniRef"
      placeholder="Rut"
      v-model:value="client.dni"
      :validations="['required', 'dni']"
    />
    <text-input
      ref="nameRef"
      placeholder="Nombre"
      v-model:value="client.name"
      :validations="['required']"
    />
    <text-input
      ref="emailRef"
      placeholder="Email"
      v-model:value="client.email"
      :validations="['required', 'email']"
    />
    <text-input
      ref="phoneRef"
      placeholder="Teléfono"
      v-model:value="client.phone"
      :validations="['required']"
    />
    <text-input
      ref="addressRef"
      placeholder="Dirección"
      v-model:value="client.address"
    />
    <textarea-custom v-model:value="client.obs" placeholder="Observaciones" />
  </div>
  <btn-custom label="Registrar" :loading="loading" @click="registerClient" />
</template>
<script lang="ts">
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  reactive,
  ref,
  watch
} from 'vue';
import TextInput from '@/components/UI/TextInput.vue';
import TextareaCustom from '@/components/UI/TextareaCustom.vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { IClient } from '@/models/client.model';
import { rutCleaner, rutFormatter, validateForm } from '@/utils';
import { Firebase } from '@/classes/firebase.class';
import { toastController } from '@/store/toast.store';
import moment from 'moment-timezone';

export default defineComponent({
  name: 'ClientRegistration',
  components: {
    TextInput,
    BtnCustom,
    TextareaCustom
  },
  emits: ['new-client'],
  setup(_props, { emit }) {
    const fb = Firebase.getInstance();
    const client = reactive<IClient>({
      name: '',
      email: '',
      dni: '',
      address: '',
      obs: '',
      phone: ''
    });
    watch(
      () => client.dni,
      (val) => {
        if (val && val.length > 7) client.dni = rutFormatter(client.dni + '');
        else client.dni = rutCleaner(client.dni + '', false);
      }
    );
    const loading = computed(() => fb.loadingState);
    const dniRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const emailRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const nameRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const phoneRef = ref<ComponentPublicInstance<typeof TextInput> | null>(null);
    const registerClient = async () => {
      const valid = validateForm([emailRef, dniRef, nameRef, phoneRef]);
      if (!valid) return;
      const data: IClient = { ...client };
      data.dni = rutCleaner(data.dni + '', false);
      data.createdAt = +moment().format('x');
      fb.currentUID && (data.createdBy = fb.currentUID);
      const existence = await fb.getCollection<IClient>('clients', {
        query: [{ key: 'dni', op: '==', value: data.dni }]
      });
      if (!existence) {
        toastController({ text: 'Error registrando cliente', status: 'danger' });
        return;
      }
      if (existence && existence?.length > 0) {
        toastController({ text: 'Cliente registrado previamente', status: 'info' });
        return;
      }
      const saved = await fb.addDoc<IClient>('clients', data);
      if (!saved) {
        toastController({ text: 'Error registrando cliente', status: 'danger' });
        return;
      }
      emit('new-client', saved);
      toastController({ text: 'Cliente Registrado', status: 'success' });
    };
    return {
      client,
      registerClient,
      dniRef,
      emailRef,
      nameRef,
      phoneRef,
      loading
    };
  }
});
</script>
