<template>
  <div class="flex items-center pb-1">
    <div class="month-navigator" @click="previousMonth">
      <fa-icon :icon="['fas', 'chevron-left']" />
    </div>
    <div class="flex-grow">
      <p class="text-center font-bold text-blue-800 select-none">{{actualDate.label}} {{actualDate.year}} </p>
    </div>
    <div class="month-navigator" @click="nextMonth">
      <fa-icon :icon="['fas', 'chevron-right']" />
    </div>
  </div>
  <div class="flex justify-evenly">
    <p v-for="label in dayLabels" :key="label" class="text-sm day w-full p-1 text-center font-bold text-blue-800 bg-blue-100 select-none">{{label}}</p>
  </div>
  <div
    class="flex justify-evenly relative"
    v-for="(week, i) in calculatedMonth"
    :key="'week' + i"
  >
    <div
      v-for="(day, i) in week"
      :key="'day' + i"
      :class="{
        'day w-full p-1 text-center cursor-pointer select-none bg-white hover:bg-blue-200 text-sm': true,
        'off-month': day.month !== actualDate.month,
        'today font-semibold bg-blue-400 text-blue-800': day.month === today.month && day.day === today.day && day.year === today.year
      }"
      @click="$emit('selected', day)"
    >
      {{ day.day }}
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, Ref, ref } from 'vue';
import moment from 'moment-timezone';
import { IDay } from '@/models/calendar.model';

export default defineComponent({
  name: 'Calendar',
  emits:['selected'],
  setup() {
    const dayLabels = ['L', 'M', 'X', 'J', 'V', 'S', 'D'];
    // today
    const today = {
      date: moment().format(),
      month: +moment().format('MM'),
      year: +moment().format('YYYY'),
      day: +moment().format('DD')
    };
    // navigation date
    const navigationDate = ref(moment().format());
    const firstDayOfMonth = computed(() => {
      const date = moment.utc(navigationDate.value).startOf('month').format();
      const dayNumber = +moment.utc(date).format('DD');
      const dayOfWeek = +moment.utc(date).isoWeekday() - 1;
      return { date, dayNumber, dayOfWeek };
    });
    const lastDayOfMonth = computed(() => {
      const date = moment.utc(navigationDate.value).endOf('month').format();
      const dayNumber = +moment.utc(date).format('DD');
      const dayOfWeek = +moment.utc(date).isoWeekday() - 1;
      return { date, dayNumber, dayOfWeek };
    });
    const actualDate = computed(() => {
      const [y, m, d] = moment.utc(navigationDate.value)
        .format('YYYY-MM-DD')
        .split('-');
      const label = moment.utc(navigationDate.value).format('MMMM').toUpperCase();
      return { year: +y, month: +m, day: +d, label };
    });
    // month
    const calculatedMonth: Ref<Array<IDay[]>> = ref([]);
    const calculateMonth = () => {
      const month = [];
      for (let i = 0; i < lastDayOfMonth.value.dayNumber; i++) {
        const date = moment.utc(firstDayOfMonth.value.date).add(i, 'days').format();
        const dayOfWeek = moment.utc(date).isoWeekday() - 1;
        const [y, m, d] = moment.utc(date).format('YYYY-MM-DD').split('-');
        const timestamp = +moment.utc(date).format('x');
        month.push({ date, dayOfWeek, month: +m, year: +y, day: +d, timestamp, label: moment.utc(date).format('DD MMMM YYYY') });
      }
      const firstDayweekOfMonth: number = month[0].dayOfWeek;
      for (let j = 0; j < firstDayweekOfMonth; j++) {
        const prev = j + 1;
        const date = moment.utc(firstDayOfMonth.value.date)
          .subtract(prev, 'days')
          .format();
        const dayOfWeek = moment.utc(date).isoWeekday() - 1;
        const [y, m, d] = moment.utc(date).format('YYYY-MM-DD').split('-');
        const timestamp = +moment.utc(date).format('x');
        month.unshift({ date, dayOfWeek, month: +m, year: +y, day: +d, timestamp, label: moment.utc(date).format('DD MMMM YYYY') });
      }
      const lastDayweekOfMonth: number = month[month.length - 1].dayOfWeek;
      for (let k = 0; k < 7; k++) {
        if (k > lastDayweekOfMonth) {
          const l = k - lastDayweekOfMonth;
          const date = moment.utc(lastDayOfMonth.value.date)
            .add(l, 'days')
            .format();
          const dayOfWeek = moment.utc(date).isoWeekday() - 1;
          const [y, m, d] = moment.utc(date).format('YYYY-MM-DD').split('-');
          const timestamp = +moment.utc(date).format('x');
          month.push({ date, dayOfWeek, month: +m, year: +y, day: +d, timestamp, label: moment.utc(date).format('DD MMMM YYYY') });
        }
      }
      let m: Array<IDay[]> = [];
      let w: IDay[] = [];
      month.forEach((el) => {
        w.push(el);
        if (el.dayOfWeek === 6) {
          m.push(w);
          w = [];
        }
      });
      calculatedMonth.value = m;
    };
    // add month
    const nextMonth = () => {
      const next = moment(navigationDate.value).add(1, 'month').format();
      navigationDate.value = next;
      calculateMonth();
    };
    // reduce month
    const previousMonth = () => {
      const previous = moment(navigationDate.value)
        .subtract(1, 'month')
        .format();
      navigationDate.value = previous;
      calculateMonth();
    };
    calculateMonth();
    return {
      today,
      dayLabels,
      actualDate,
      nextMonth,
      previousMonth,
      calculateMonth,
      calculatedMonth
    };
  }
});
</script>
<style scoped>
.day {
  border: solid 1px #c8c8c8;
  transition: 0.5s all;
  margin: 1px;
}
.off-month {
  @apply bg-gray-200;
}
.today {
  @apply bg-blue-100;
}
.month-navigator {
  @apply bg-blue-700;
  @apply text-white;
  @apply py-2;
  @apply px-4;
  @apply cursor-pointer;
  @apply mx-1;
  @apply rounded-md;
  @apply shadow-sm;
}
</style>
