<template>
  <div
    @click="onClick"
    :class="`tag px-3 rounded-xl text-white font-bold shadow-sm cursor-pointer m-1`"
    :style="{ backgroundColor: isSelected ? '#3B82F6':'#93C5FD' }"
  >
    {{tag.label}}
  </div>
</template>
<script lang="ts">
import { OTSTATUSES, otStatusToLabel } from '@/models/ot.model';
import { computed, defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'otStatusTag',
  emits:['remove', 'add'],
  props: {
    status: {
      type: String as PropType<OTSTATUSES>,
      default: OTSTATUSES.ON_REQUEST
    },
    selecteds: {
      type: Array as PropType<OTSTATUSES[]>,
      default: () => []
    }
  },
  setup(props, { emit }) {
    const isSelected = computed(() => {
      return props.selecteds.includes(props.status);
    });
    const tag = computed(() => {
      let n = '300';
      if (props.selecteds.includes(props.status)) n = '500';
      return {color: `bg-blue-${n}`, label: otStatusToLabel(props.status)};
    });
    const onClick = () => {
      if (props.selecteds.includes(props.status)) emit('remove', props.status);
      else emit('add', props.status);
    };
    return {
      tag,
      onClick,
      isSelected
    };
  }
});
</script>
