<template>
  <div class="p-3 relative">
    <div class="pt-4"></div>

    <div
      :class="{
        'rounded-md px-4 py-2 select-none shadow text-white font-semibold uppercase text-md cursor-pointer hover:shadow-lg transition-all duration-100 mb-4 mx-3 scale-animated text-center flex flex-col items-center': true,
        'bg-blue-400': activeRoute !== i,
        'bg-blue-600': activeRoute === i
      }"
      v-for="(item, i) in menuItems"
      :key="item.pathName"
      @click="routeHandler(item.pathName, i)"
    >
      <fa-icon :icon="item.icon" size="2x" class="mt-2"></fa-icon>
      <span>{{ item.name }}</span>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { modalController, modalState } from '@/store/modal.store';
import { setupCompleted } from '@/store/setup.store';

export default defineComponent({
  name: 'Sidebar',
  emits: ['close'],
  setup(_props, { emit }) {
    const route = useRoute();
    const router = useRouter();

    const menuItems = reactive([
      {
        name: 'Órdenes',
        pathName: 'app.ots',
        icon: ['fas', 'file-invoice'],
        fullName: 'Órdenes de Trabajo'
      },
      {
        name: 'Clientes',
        pathName: 'app.clients',
        icon: ['fas', 'users'],
        fullName: 'Clientes'
      },
      // {
      //   name: 'Usuarios',
      //   pathName: 'app.users',
      //   icon: ['fas', 'users-cog'],
      //   fullName: 'Usuarios'
      // },
      {
        name: 'Cuenta',
        pathName: 'app.account',
        icon: ['far', 'user-circle'],
        fullName: 'Mi Cuenta'
      }
    ]);
    const activeRoute = ref(0);
    activeRoute.value = route.meta.index as number;
    // emit('view-name', 'menuItems[route.meta.index as number].fullName');
    const routeHandler = (pathName: string, index: number) => {
      if (!setupCompleted.value) return;
      emit('close');
      if (route.name === pathName) return;
      if (modalState.value.show) {
        modalController({ show: false });
      }
      activeRoute.value = index;
      // emit('view-name', menuItems[index].fullName);

      router.replace({ name: pathName });
    };

    return {
      menuItems,
      routeHandler,
      activeRoute
    };
  }
});
</script>
