<template>
  <div class="toast-container">
    <transition name="toast" appear>
      <div
        @click="toast.callback"
        v-show="toast.show"
        :class="
          `${toast.clickable} flex justify-start items-center text-white fixed top-0 md:top-2 left-1/2 md:rounded-md px-4 py-2 shadow-md transform -translate-x-1/2 w-screen md:w-1/3 lg:w-1/4`
        "
        :style="`z-index:9999999;background-color:${color};`"
      >
        <fa-icon :icon="toast.icon" class="mr-2"></fa-icon>
        <p class="text-left font-light select-none">{{ toast.text }}</p>
      </div>
    </transition>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue';
import { toastState } from '@/store/toast.store';

export default defineComponent({
  name: 'Toast',
  setup() {
    const toast = computed(() => toastState.value);
    const color = computed(() => {
      switch (toast.value.color) {
        case 'bg-green-600':
          return '#1B9B11';
        case 'bg-red-800':
          return '#B01010';
        case 'bg-yellow-600':
          return '#D3D32F';
        case 'bg-blue-600':
          return '#1684CB';
        case 'bg-gray-600':
          return '#9BA09B';
        default:
          return '#9BA09B';
      }
    });
    return {
      toast,
      color
    };
  }
});
</script>
<style scoped>
.toast-enter-active,
.toast-leave-active {
  transition: transform 0.4s ease-in-out;
}
.toast-enter-from {
  transform: translate(-50%, -100%);
}
.toast-leave-to {
  transform: translate(-50%, -100%);
}
</style>
