<template>
  <div class="card mt-4 flex space-x-4 items-center flex-col md:flex-row">
    <div class="rounded-full h-12 w-12 bg-gray-400 avatar"></div>
    <p class="font-bold">{{ user.firstName }} {{ user.lastName }}</p>
    <p class="text-blue-400 font-light">{{ user.email }}</p>
    <p class="flex-grow text-right font-bold text-blue-400">{{ role }}</p>
  </div>
  <div class="card mt-2 mb-12">
    <p class="font-bold text-blue-400">Cambiar Contraseña</p>
    <div class="flex items-center justify-center space-x-2">
      <div class="w-100 flex-grow pt-3">
        <text-input placeholder="Nueva Contraseña" v-model:value="password" />
      </div>
      <btn-custom
        label="cambiar"
        :loading="loading"
        @click="onPasswordChange"
      />
    </div>
  </div>
  <btn-custom label="Cerrar Sesión" @click="logout" />
</template>
<script lang="ts">
import { Firebase, IUser } from '@/classes/firebase.class';
import { computed, defineComponent, Ref, ref } from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { useRouter } from 'vue-router';
import TextInput from '@/components/UI/TextInput.vue';
import { toastController } from '@/store/toast.store';

export default defineComponent({
  name: 'Account',
  components: {
    BtnCustom,
    TextInput
  },
  setup() {
    const fb = Firebase.getInstance();
    const router = useRouter();
    const user: Ref<IUser | undefined> = ref(fb.authStatus.user);

    const roleTranslate = (role: string) => {
      switch (role) {
        case 'ADMIN_ROLE':
          return 'Administrador';
        case 'SUPERVISOR_ROLE':
          return 'Supervisor';
        case 'SALES_ROLE':
          return 'Venta';
        default:
          return '???';
      }
    };
    let role = roleTranslate(user.value?.role as string);
    const logout = () => {
      fb.signOut().then(() => router.push('/'));
    };
    const loading = computed(() => fb.loadingState);
    const password = ref('');
    const onPasswordChange = async () => {
      const p = password.value.trim();
      if (!p) {
        toastController({ text: 'Debe incluir Contraseña', status: 'danger' });
        return;
      }
      if (p.length < 8) {
        toastController({
          text: 'Contraseña debe incluir al menso 8 caracteres',
          status: 'danger'
        });
        return;
      }
      if (p.includes(' ')) {
        toastController({
          text: 'Contraseña no puede incluir espacios vacíos',
          status: 'danger'
        });
        return;
      }
      const request = await fb.callFunction('/changepassword', {
        password: p,
        uid: fb.currentUID
      });
      if (request && request.ok) {
        toastController({ text: 'Contraseña Modificada', status: 'success' });
        password.value = '';
        setTimeout(() => logout(), 2000);
      } else {
        toastController({
          text: 'Error Modificando contraseña',
          status: 'danger'
        });
        password.value = '';
      }
    };
    return {
      user,
      role,
      logout,
      loading,
      password,
      onPasswordChange
    };
  }
});
</script>
<style scoped>
.avatar {
  background-image: url('/img/avatar.jpg');
  background-size: cover;
}
</style>
