<template>
  <div class="flex">
    <btn-custom
      label=""
      :icon="['fa', 'search']"
      @click="searchStatus(!searching)"
    />
    <div class="flex-grow"></div>
    <btn-custom label="Registrar Cliente" @click="onRegisterNewClient" />
  </div>
  <div v-if="searching">
    <div class="card mt-4 flex items-center">
      <div class="w-1/4">
        <p>Buscar por rut</p>
      </div>
      <text-input
        placeholder="Rut"
        class="mt-2"
        ref="dniSearchRef"
        v-model:value="dniToSearch"
        :validations="['required', 'dni']"
      />
    </div>
    <div class="flex space-x-2">
      <div class="flex-grow"></div>
      <btn-custom label="Cancelar" @click="searchStatus(false)" />
      <btn-custom
        label="Buscar Cliente"
        @click="searchByDni"
        :loading="loading"
      />
    </div>
    <div class="card mt-4">
      <table-custom
        :headers="[
          { label: 'Nombre', key: 'name', mobile: true },
          { label: 'Rut', key: 'dni', format: 'dni', mobile: true },
          { label: 'Email', key: 'email' }
        ]"
        :items="searchResults[0].data"
        :clickable="true"
        @selected="onSelectedClient"
      />
    </div>
  </div>
  <div v-else>
    <div class="card mt-4">
      <table-custom
        :headers="[
          { label: 'Nombre', key: 'name', mobile: true },
          { label: 'Rut', key: 'dni', format: 'dni', mobile: true },
          { label: 'Email', key: 'email' }
        ]"
        :items="clientsPaginated"
        :clickable="true"
        @selected="onSelectedClient"
        :empty-message="emptyMessage"
      />
    </div>
    <pagination
      @next="changePage(1)"
      @previous="changePage(-1)"
      :backward="page > 1"
      :forward="paginateNext"
    />
  </div>
  <modal>
    <register-new-client
      @new-client="onRegisterComplete"
      v-if="modalToShow === 'register-new-client'"
    />
    <client-details
      v-else-if="modalToShow === 'client-details'"
      :item="selectedClient"
      @updated-client="onClientUpdated"
    />
  </modal>
</template>
<script lang="ts">
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  onMounted,
  reactive,
  ref,
  watch
} from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import TextInput from '@/components/UI/TextInput.vue';
import Pagination from '@/components/UI/Pagination.vue';
import TableCustom from '@/components/UI/TableCustom.vue';
import { modalController } from '@/store/modal.store';
import {
  Firebase,
  IGenericCollection,
  IGenericDoc
} from '@/classes/firebase.class';
import { IClient } from '@/models/client.model';
import Modal from '@/components/layout/Modal.vue';
import RegisterNewClient from '@/components/client/RegisterNewClient.vue';
import ClientDetails from '@/components/client/ClientDetails.vue';
import { rutCleaner, rutFormatter, validateForm } from '@/utils';
import { toastController } from '@/store/toast.store';

interface IPaged<T> {
  page: number;
  data: IGenericDoc<T>[];
}

export default defineComponent({
  name: 'Clients',
  components: {
    BtnCustom,
    Pagination,
    TableCustom,
    Modal,
    RegisterNewClient,
    ClientDetails,
    TextInput
  },
  setup() {
    const emptyMessage = ref('...Cargando Datos');
    const fb = Firebase.getInstance();
    const loading = computed(() => fb.loadingState);
    const modalToShow = ref('register-new-client');
    const page = ref(1);
    let paginationStatus = reactive<IGenericCollection<IClient>>({
      docs: [],
      last: undefined,
      length: 0,
      next: false
    });
    const paginateNext = computed(() => {
      const next = parseInt(page.value + '') + 1;
      const nextPage = clients.value.find((el) => el.page === next);
      if (!nextPage) return false;
      return nextPage.data.length > 0;
    });
    const clients = ref<IPaged<IClient>[]>([{ page: 1, data: [] }]);
    const clientsPaginated = computed(() => {
      const d = clients.value.find((el) => el.page === page.value);
      if (d) return d.data;
      return [];
    });

    const selectedClient = ref<IGenericDoc<IClient> | null>(null);
    const onSelectedClient = (client: IGenericDoc<IClient>) => {
      selectedClient.value = client;
      modalToShow.value = 'client-details';
      modalController({ show: true, component: 'client-details' });
    };
    const onRegisterNewClient = () => {
      modalToShow.value = 'register-new-client';
      modalController({ show: true, component: 'register-new-client' });
    };
    const onRegisterComplete = (client: IGenericDoc<IClient>) => {
      clients.value[0].data.unshift(client);
      modalController({ show: false });
    };

    const initialRequest = async () => {
      page.value = 1;
      const col = await fb.getCollection<IClient>('clients', {
        order: { key: 'createdAt', type: 'desc' },
        limit: 10
      });
      if (col) {
        paginationStatus = { ...col };
        clients.value[0].data = col.docs;
      }
    };

    const requestNextPage = async (p: number) => {
      const actualPage = parseInt(p + '') + 1;
      const nextPage = clients.value.find((el) => el.page === actualPage);
      if (!nextPage) {
        const request = await fb.getCollection('clients', {
          order: { key: 'createdAt', type: 'desc' },
          limit: 10,
          startAfter: paginationStatus.last
        });
        if (!request) {
          paginationStatus.next = false;
          return;
        }
        paginationStatus = request;
        clients.value.push({ page: actualPage, data: request.docs });
      }
    };

    const changePage = async (mod: 1 | -1) => {
      if (page.value === 1 && mod === -1) return;
      if (mod === -1) {
        page.value += -1;
        return;
      }
      const actualPage = parseInt(page.value + '') + 1;
      await requestNextPage(actualPage);
      page.value += mod;
    };

    const dniSearchRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const dniToSearch = ref('');
    watch(
      () => dniToSearch.value,
      (val) => {
        if (val && val.length > 7)
          dniToSearch.value = rutFormatter(dniToSearch.value + '');
        else dniToSearch.value = rutCleaner(dniToSearch.value + '', false);
      }
    );
    const searching = ref(false);
    const searchResults = ref<IPaged<IClient>[]>([{ page: 1, data: [] }]);
    const searchByDni = async () => {
      const valid = validateForm([dniSearchRef]);
      if (!valid) return;
      const dniQuery = rutCleaner(dniToSearch.value, false);
      const request = await fb.getCollection<IClient>('clients', {
        query: [{ key: 'dni', op: '==', value: dniQuery }]
      });
      if (!request) {
        searchResults.value[0].data = [];
        return;
      }
      if (request?.length === 0)
        toastController({
          text: 'No se encontraron resultados',
          status: 'info'
        });
      else if (request?.length > 0)
        toastController({ text: 'Búsqueda Realizada', status: 'success' });
      searchResults.value[0].data = request?.length > 0 ? request?.docs : [];
    };

    const onClientUpdated = (evt: { uid: string; data: IClient }) => {
      const index = clients.value[page.value - 1].data.findIndex(
        (el) => el.uid === evt.uid
      );
      clients.value[page.value - 1].data[index].data = evt.data;
    };

    const searchStatus = (search: boolean) => {
      searching.value = search;
      dniToSearch.value = '';
      searchResults.value[0].data = [];
    };

    onMounted(async () => {
      await initialRequest();
      await requestNextPage(1);
      emptyMessage.value = 'No hay Resultados';
    });

    return {
      onRegisterNewClient,
      onRegisterComplete,
      clientsPaginated,
      selectedClient,
      onSelectedClient,
      modalToShow,
      onClientUpdated,
      searching,
      searchResults,
      searchByDni,
      dniToSearch,
      dniSearchRef,
      loading,
      searchStatus,
      changePage,
      clients,
      page,
      paginationStatus,
      paginateNext,
      emptyMessage
    };
  }
});
</script>
