<template>
  <div class="flex justify-center items-center h-screen bg-gradient-color">
    <div
      class="bg-white bg-opacity-10 shadow-xl p-3 rounded-md text-white transition-all min-w-xs"
    >
      <div v-if="!recoveryMode">
        <h3 class="text-center font-thin text-3xl mb-4 mt-2">OT System</h3>
        <text-input
          ref="emailRef"
          placeholder="Email"
          v-model:value="email"
          :validations="['required', 'email']"
        />
        <text-input
          ref="passwordRef"
          type="password"
          placeholder="Contraseña"
          v-model:value="password"
          :validations="['required']"
        />
        <btn-custom label="Ingresar" @click="login" :loading="loading" />
        <p class="text-center mt-4 text-sm cursor-pointer" @click="onChangeMode">
          ¿Haz olvidado tu contraseña?
        </p>
      </div>
      <div v-else>
        <h3 class="text-center font-thin text-3xl mb-4 mt-2">Recuperar Contraseña</h3>
        <p class="text-center mx-auto text-sm mb-3" style="max-width:280px;">Se enviará un email con las instrucciones para restablecer su contraseña</p>
        <text-input
          ref="emailRecoveryRef"
          placeholder="Email"
          v-model:value="emailRecovery"
          :validations="['required', 'email']"
        />
        <btn-custom label="Recuperar" @click="recovery" :loading="loading" />
        <p class="text-center mt-4 text-sm cursor-pointer" @click="onChangeMode">Cancelar</p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { ComponentPublicInstance, computed, defineComponent, ref } from 'vue';
import TextInput from '@/components/UI/TextInput.vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import { useRouter } from 'vue-router';
import { Firebase } from '@/classes/firebase.class';
import { validateForm } from '@/utils';
import 'firebase/auth';

export default defineComponent({
  name: 'Login',
  components: {
    TextInput,
    BtnCustom
  },
  setup() {
    const recoveryMode = ref(false);
    const fb = Firebase.getInstance();
    const router = useRouter();
    const email = ref('');
    const password = ref('');
    const emailRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const passwordRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const loading = computed(() => fb.loadingState);
    const login = async () => {
      const valid = validateForm([emailRef, passwordRef]);
      if (!valid) return;
      console.log('LOGIN');
      const loggedIn = await fb.signUserByEmail(email.value, password.value);
      if (loggedIn) router.push({ name: 'app.ots' });
    };
    const emailRecovery = ref('');
    const onChangeMode = () => {
      recoveryMode.value = !recoveryMode.value;
      emailRecovery.value = '';
      email.value = '';
      password.value = '';
    };
    const emailRecoveryRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const recovery = async () => {
      const valid = validateForm([emailRecoveryRef]);
      if (!valid) return;
      console.log('RECOVERY');
      await fb.passwordRecovery(emailRecovery.value);
      onChangeMode();
    };
    return {
      email,
      password,
      emailRef,
      passwordRef,
      login,
      loading,
      recoveryMode,
      emailRecovery,
      onChangeMode,
      emailRecoveryRef,
      recovery
    };
  }
});
</script>
