<template>
  <div class="flex space-x-1 mb-6">
    <btn-custom
      label=""
      :icon="['fa', 'calendar']"
      @click="changeCalendarStatus"
      :color="isCalendaring ? 'selected':'standard'"
    />
    <btn-custom
      label=""
      :icon="['fa', 'calendar-week']"
      @click="changeToLastWeek"
      :color="isLastWeekResults ? 'selected':'standard'"
    />
    <btn-custom
      label=""
      :icon="['fa', 'filter']"
      @click="changeFilteringStatus"
      :color="isFiltering ? 'selected':'standard'"
    />
    <btn-custom label="" :icon="['fa', 'search']" @click="changeSearchStatus" :color="isSearching ? 'selected':'standard'" />
    <div class="flex-grow"></div>
    <btn-custom label="Crear OT" @click="onCreateOT" />
  </div>
  <div v-if="isSearching">
    <div class="flex md:space-x-2 w-full flex-col md:flex-row">
      <div class="flex-1">
        <text-dropdown
          label="Buscar por"
          :items="searchByOpts"
          default="DNI"
          @selected="onChangeSearchBy"
        />
      </div>
      <div class="flex-1">
        <text-input
          placeholder="Valor a buscar"
          ref="searchRef"
          v-model:value="searchValue"
        />
      </div>
    </div>
    <div class="flex mb-4">
      <div class="flex-grow"></div>
      <btn-custom label="Buscar" @click="onSearchRequest" />
    </div>
  </div>
  <div
    class="flex md:space-x-2 w-full flex-col md:flex-row"
    v-if="isCalendaring"
  >
    <div class="flex-1">
      <text-dropdown
        label="Seleccione"
        :items="dateFilters"
        :default="'CREATED'"
        @selected="dateFilterSelected = $event"
      />
    </div>
    <div class="flex-1">
      <calendar-input
        ref="calendarRef"
        @selected="selectedDate"
        :minimal="false"
        label="Seleccione Fecha"
      />
    </div>
  </div>
  <div class="flex flex-wrap mb-4" v-if="isFiltering">
    <ot-status-tag
      v-for="status in statuses"
      :key="status.value"
      :status="status.value"
      :selecteds="selectedStatuses"
      @add="addToStatusSelecteds"
      @remove="removeFromStatusSelecteds"
    />
  </div>
  <p
    class="text-gray-400 text-4xl font-thin"
    v-if="!isSearching && !isCalendaring"
  >
    <span v-if="isLastWeekResults">Últimos 7 días</span>
    <span v-else>{{ today }}</span>
  </p>
  <div class="card mt-3">
    <table style="width: 100%">
      <tr class="text-blue-500">
        <th>ID</th>
        <th>Cliente</th>
        <th class="hidden lg:table-cell">Creado el</th>
        <th class="hidden md:table-cell">Término Diagnóstico</th>
        <th class="hidden md:table-cell">Término Reparación</th>
        <th>Estado</th>
      </tr>
      <template v-if="filteredsOts.length >= 1">
        <tr
          v-for="ot in filteredsOts"
          :key="ot._uid"
          class="cursor-pointer hover:bg-gray-100"
          @click="onOtSelection(ot)"
        >
          <td>
            {{ ot.data.ot.id }}
          </td>
          <td>
            {{ rutFormatter(ot.data.ot.clientDni) }}
          </td>
          <td>
            {{
              ot.data.createdAt
                ? ot.data.createdAt.label
                : '---'
            }}
          </td>
          <td class="hidden md:table-cell">
            {{
              ot.data.ot.diagnosisAtParsed
                ? ot.data.ot.diagnosisAtParsed.label
                : '---'
            }}
          </td>
          <td class="hidden md:table-cell">
            {{
              ot.data.ot.deliveryAtParsed
                ? ot.data.ot.deliveryAtParsed.label
                : '---'
            }}
          </td>
          <td>
            {{ ot.data.status.label }}
          </td>
        </tr>
      </template>
    </table>
    <p
      v-if="filteredsOts.length === 0"
      class="pt-5 pb-3 text-center font-light text-gray-300"
    >
      No hay OT's registradas con estos parámetros
    </p>
  </div>
  <modal>
    <preview v-if="previewMode" :otData="otSelected">
      <view-switch-btn mode="file-signature" @switch="previewMode = false" />
    </preview>
    <create-ot :otData="otSelected" v-else> 
        <view-switch-btn mode="file-pdf" @switch="previewMode = true" />
    </create-ot>
  </modal>
</template>
<script lang="ts">
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  onBeforeUnmount,
  onMounted,
  ref,
  watch
} from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';
import Modal from '@/components/layout/Modal.vue';
import { modalController } from '@/store/modal.store';
import CreateOt from '@/components/ot/CreateOT.vue';
import Preview from '@/components/ot/Preview.vue';
import ViewSwitchBtn from '@/components/ot/ViewSwitchBtn.vue';
import otStatusTag from '@/components/layout/otStatusTag.vue';
import CalendarInput from '@/components/UI/CalendarInput.vue';
import TextDropdown from '@/components/UI/TextDropdown.vue';
import TextInput from '@/components/UI/TextInput.vue';
import {
  Firebase,
  ICollectionQuery,
  IGenericDoc
} from '@/classes/firebase.class';
import { OT } from '@/classes/ot.class';
import { IOT, OTSTATUSES, otStatusToLabel } from '@/models/ot.model';
import { rutCleaner, rutFormatter } from '@/utils';
import { IDay } from '@/models/calendar.model';
import moment from 'moment-timezone';

export default defineComponent({
  name: 'OTs',
  components: {
    BtnCustom,
    Modal,
    CreateOt,
    otStatusTag,
    CalendarInput,
    TextDropdown,
    TextInput,
    Preview,
    ViewSwitchBtn
  },
  setup() {
    const previewMode = ref(false);
    const today = moment().format('DD MMMM YYYY');
    const t = moment().format('DD MM YYYY').split(' ');
    const todayStartedAt = +moment
      .utc(`${t[1]}-${t[0]}-${t[2]} 00:00:00`, 'MM-DD-YYYY HH:mm:ss')
      .format('x');
    // const todayFinisheddAt = +moment
    //   .utc(`${t[1]}-${t[0]}-${t[2]} 23:59:59`, 'MM-DD-YYYY HH:mm:ss')
    //   .format('x');
    const fb = Firebase.getInstance();
    const otSelected = ref<OT | null>(null);
    const onCreateOT = () => {
      otSelected.value = null;
      previewMode.value = false;
      modalController({ show: true });
    };
    const onOtSelection = async (param: OT) => {
      if (param.data.ot.clientUID)
        await param.setClient(param.data.ot.clientUID);
      otSelected.value = param;
      previewMode.value = false;
      modalController({ show: true });
    };
    const ots = ref<OT[]>([]);
    const query: ICollectionQuery<IOT> = {
      query: [{ key: 'createdAt', op: '>=', value: todayStartedAt }]
    };
    const setData = (data: IGenericDoc<IOT>[]) => {
      ots.value = [...data.map((el) => OT.fromFirebaseDoc(el))];
    };
    let sub: () => void | null;
    onMounted(() => {
      sub = fb.subscribeToColletion<IOT>('ots', query, setData);
    });
    onBeforeUnmount(() => {
      if (sub !== null) sub();
    });
    const statuses: { value: OTSTATUSES; label: string }[] = [];
    Object.keys(OTSTATUSES).forEach((el) => {
      const value: OTSTATUSES = OTSTATUSES[el as keyof typeof OTSTATUSES];
      statuses.push({ value, label: otStatusToLabel(value) });
    });
    const selectedStatuses = ref<OTSTATUSES[]>([]);
    const addToStatusSelecteds = (status: OTSTATUSES) => {
      if (selectedStatuses.value.includes(status)) return;
      selectedStatuses.value.push(status);
    };
    const removeFromStatusSelecteds = (status: OTSTATUSES) => {
      const i = selectedStatuses.value.findIndex((el) => el === status);
      if (i !== -1) selectedStatuses.value.splice(i, 1);
    };
    const filteredsOts = computed(() => {
      let val = [];
      if (selectedStatuses.value.length === 0) val = ots.value;
      else val = ots.value
        .filter((el) => selectedStatuses.value.includes(el.data.status.status));
      return val.sort((a, b) => {
          const start = b.data.createdAt?.timestamp || 0;
          const end = a.data.createdAt?.timestamp || 0;
          return start - end;
        });
    });
    const isFiltering = ref(false);
    const dateFilters = [
      { label: 'Que se hayan creado', id: 'CREATED' },
      { label: 'Con diagnostico terminado el', id: 'DIAGNOSIS_DONE' },
      { label: 'Con entrega el', id: 'SERVICES_DONE' }
    ];
    const dateFilterSelected = ref<
      'CREATED' | 'DIAGNOSIS_DONE' | 'SERVICES_DONE'
    >('CREATED');
    const changeFilteringStatus = () => {
      isFiltering.value = !isFiltering.value;
      if (!isFiltering.value) selectedStatuses.value.length = 0;
    };
    const selectedDateValue = ref<IDay | null>(null);
    const selectedDate = async (date: IDay | null) => {
      selectedDateValue.value = date;
      if (!date) {
        sub = fb.subscribeToColletion<IOT>('ots', query, setData);
      } else {
        if (sub !== null) sub();
        const dayStartedAt = +moment
          .utc(
            `${date.year}-${date.month}-${date.day} 00:00:00`,
            'YYYY-MM-DD HH:mm:ss'
          )
          .format('x');
        const dayFinishedAt = +moment
          .utc(
            `${date.year}-${date.month}-${date.day} 23:59:59`,
            'YYYY-MM-DD HH:mm:ss'
          )
          .format('x');
        const newQuery: ICollectionQuery<IOT> = {
          query: []
        };
        newQuery.query = [];
        switch (dateFilterSelected.value) {
          case 'CREATED':
            newQuery.query?.push({
              key: 'createdAt',
              op: '<=',
              value: dayFinishedAt
            });
            newQuery.query?.push({
              key: 'createdAt',
              op: '>=',
              value: dayStartedAt
            });
            break;
          case 'DIAGNOSIS_DONE':
            newQuery.query?.push({
              key: 'diagnosisAt',
              op: '<=',
              value: dayFinishedAt
            });
            newQuery.query?.push({
              key: 'diagnosisAt',
              op: '>=',
              value: dayStartedAt
            });
            break;
          case 'SERVICES_DONE':
            newQuery.query?.push({
              key: 'deliveryAt',
              op: '<=',
              value: dayFinishedAt
            });
            newQuery.query?.push({
              key: 'deliveryAt',
              op: '>=',
              value: dayStartedAt
            });
            break;
          default:
            break;
        }
        ots.value = [];
        const queryResult = await fb.getCollection('ots', newQuery);
        queryResult &&
          (ots.value = [
            ...queryResult.docs.map((el) => OT.fromFirebaseDoc(el))
            // .sort((a, b) => {
            //   const start = a.data.createdAt?.timestamp || 0;
            //   const end = b.data.createdAt?.timestamp || 0;
            //   return start - end;
            // })
          ]);
      }
    };
    watch(
      () => dateFilterSelected.value,
      async () => {
        await selectedDate(selectedDateValue.value);
      }
    );
    const calendarRef = ref<ComponentPublicInstance<
      typeof CalendarInput
    > | null>(null);
    const searchRef = ref<ComponentPublicInstance<typeof TextInput> | null>(
      null
    );
    const isSearching = ref(false);
    const isCalendaring = ref(false);
    const changeCalendarStatus = async () => {
      isLastWeekResults.value = false;
      ots.value = [];
      isCalendaring.value = !isCalendaring.value;
      if (isCalendaring.value) {
        isSearching.value = false;
        searchValue.value = '';
      } else {
        calendarRef.value && (calendarRef.value.value = null);
        await selectedDate(null);
      }
    };
    const changeSearchStatus = async () => {
      isLastWeekResults.value = false;
      ots.value = [];
      isSearching.value = !isSearching.value;
      if (isSearching.value) {
        isCalendaring.value = false;
        searchValue.value = '';
      } else {
        calendarRef.value && (calendarRef.value.value = null);
        await selectedDate(null);
      }
    };
    const searchByOpts = [
      { label: 'Rut de cliente', id: 'DNI' },
      { label: 'Id de OT', id: 'ID' }
    ];
    const searchBy = ref<'DNI' | 'ID'>('DNI');
    const searchValue = ref('');
    const onChangeSearchBy = (term: 'DNI' | 'ID') => {
      searchBy.value = term;
      if (term === 'DNI')
        searchValue.value &&
          (searchValue.value = rutFormatter(searchValue.value + ''));
      else if (term === 'ID')
        searchValue.value &&
          (searchValue.value = rutCleaner(searchValue.value + '', false));
    };
    watch(
      () => searchValue.value,
      (val) => {
        if (searchBy.value === 'ID') return;
        if (val && val.length > 7)
          searchValue.value = rutFormatter(searchValue.value + '');
        else searchValue.value = rutCleaner(searchValue.value + '', false);
      }
    );
    const onSearchRequest = async () => {
      if (!searchValue.value) return;
      if (sub !== null) sub();
      const q: ICollectionQuery<IOT> = {
        order: { key: 'createdAt', type: 'desc' },
        query: []
      };
      if (searchBy.value === 'ID')
        q.query?.push({ key: 'id', op: '==', value: searchValue.value });
      else if (searchBy.value === 'DNI')
        q.query?.push({
          key: 'clientDni',
          op: '==',
          value: rutCleaner(searchValue.value, false)
        });
      const req = await fb.getCollection('ots', q);
      if (!req) ots.value = [];
      req && (ots.value = [...req.docs.map((el) => OT.fromFirebaseDoc(el))]);
    };
    const isLastWeekResults = ref(false);
    const changeToLastWeek = async () => {
      isLastWeekResults.value = !isLastWeekResults.value;
      if (isLastWeekResults.value) {
        if (sub !== null) sub();
        isSearching.value = false;
        isCalendaring.value = false;
        const t = moment().format('YYYY-MM-DD');
        const lastWeekInit = +moment(`${t} 00:00`, 'YYYY-MM-DD HH:mm').subtract(7, 'days').format('x');
        const weekQuery: ICollectionQuery<IOT> = {
          query: [{ key: 'createdAt', op: '>=', value: lastWeekInit }]
        };
        const req = await fb.getCollection('ots', weekQuery);
        if (!req) ots.value = [];
        req && (ots.value = [...req.docs.map((el) => OT.fromFirebaseDoc(el))]);
      } else {
        await selectedDate(null);
      }
    };
    return {
      onCreateOT,
      ots,
      filteredsOts,
      rutFormatter,
      otSelected,
      onOtSelection,
      statuses,
      selectedStatuses,
      addToStatusSelecteds,
      removeFromStatusSelecteds,
      isFiltering,
      changeFilteringStatus,
      selectedDate,
      dateFilters,
      dateFilterSelected,
      changeCalendarStatus,
      calendarRef,
      isCalendaring,
      searchByOpts,
      searchBy,
      searchRef,
      searchValue,
      onChangeSearchBy,
      onSearchRequest,
      changeSearchStatus,
      isSearching,
      today,
      previewMode,
      isLastWeekResults,
      changeToLastWeek
    };
  }
});
</script>
<style scoped>
th {
  text-align: left;
  @apply text-blue-700;
}
tr {
  border-bottom: 1px solid rgb(216, 216, 216);
}
.tr-hoverable:hover {
  @apply bg-gray-100;
}
tr:last-child {
  border-bottom: none;
}
td,
th {
  padding: 6px;
  vertical-align: center;
}
</style>
