.min-w-xs {
  min-width: 300px;
}

.bg-gradient-color {
  @apply bg-gradient-to-br from-blue-400 to-blue-600;
}

.card {
  @apply bg-white rounded-md shadow-md p-4 relative;
}

input:focus,
textarea:focus {
  outline: none;
}

.scale-animated {
  @apply transition-transform duration-500;
}

.scale-animated:hover {
  transform: scale(1.02);
}