<template>
  <router-view></router-view>
  <toast />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Toast from '@/components/layout/Toast.vue';

export default defineComponent({
  name: 'App',
  components: {
    Toast
  }
});
</script>
