<template>
  <div class="flex">
    <div class="bg-gradient-color w-2/5 lg:w-1/6 hidden lg:block min-h-screen">
      <sidebar />
    </div>
    <div class="relative w-full">
      <div
        class="sidebar-mobile fixed bg-gradient-color w-3/5 sm:w-2/6 h-screen lg:hidden shadow-md transition-transform duration-500 z-30"
        :style="`transform:translatex(${drawerPosition}%)`"
      >
        <sidebar @close="sidebarHandler" />
      </div>
        <div class="bg-white px-4 py-2 text-gray-400 shadow-sm border-b-gray-700 border-2 flex items-center fixed w-full z-10">
          <p class="flex-grow select-none">{{ viewName }}</p>
          <div class="lg:hidden">
            <fa-icon v-if="showSidebar" :icon="['fa','times']" size="lg" class="cursor-pointer" @click="sidebarHandler"></fa-icon>
            <fa-icon v-else :icon="['fa','bars']" size="lg" class="cursor-pointer" @click="sidebarHandler"></fa-icon>
          </div>
        </div>
      <div class="lg:px-12 pt-14 px-2 pb-3 lg:px-4 lg:pb-5 bg-gray-100 min-h-screen">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import Sidebar from '@/components/layout/Sidebar.vue';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'sidebar-layout',
  components: {
    Sidebar
  },
  setup() {
    const route = useRoute();
    const showSidebar = ref(false);
    const viewName = computed(() => route.meta.fullName as string);
    const drawerPosition = computed(() => (showSidebar.value ? 0 : -120));
    const sidebarHandler = () => (showSidebar.value = !showSidebar.value);

    return {
      showSidebar,
      drawerPosition,
      sidebarHandler,
      viewName
    };
  }
});
</script>
