<template>
  <div
    :class="{
      'bg-gradient-to-b border-2 border-white text-white text-center rounded-md py-1 my-1 cursor-pointer transition-all duration-500 scale-animated shadow hover:shadow-md relative': true,
      'from-blue-400 to-blue-600': !disabled && !danger && color === 'standard',
      'from-green-400 to-green-600': !disabled && !danger && color === 'success',
      'from-blue-500 to-blue-800': !disabled && !danger && color === 'selected',
      'from-red-400 to-red-600': !disabled && danger,
      'pointer-events-none from-gray-300 to-gray-400': disabled,
      'pointer-events-none select-none': loading
    }"
  >
    <div
      class="text-center absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
      v-if="loading"
    >
      <img
        :src="require('@/assets/icons/spinner.svg')"
        alt=""
        class="w-5 h-5 animate-spin"
      />
    </div>

    <div
      :class="{
        'select-none antialiased font-semibold flex justify-center items-center px-4 h-full': true,
        'py-1': !label,
        'text-transparent': loading
      }"
    >
      <fa-icon
        :icon="icon"
        v-if="Array.isArray(icon) && icon.length > 0"
        :class="label ? 'mr-1' : ''"
      />
      <span v-if="label">
        {{ label.toUpperCase() }}
      </span>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BtnCustom',
  props: {
    label: {
      type: String,
      default: 'Label'
    },
    danger: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    icon: {
      type: Array,
      default: () => []
    },
    color: {
      type: String,
      default: 'standard'
    }
  }
});
</script>
