<template>
  <div
    :class="`rounded-sm relative mb-2 ring-2 ${ring} ${ disabled ? 'bg-gray-200 pointer-events-none border-gray-200' : 'bg-white border-white' } border-2 mb-3`"
    style="box-sizing: content-box !important;"
  >
    <div class="absolute right-2 top-2 bottom-0 flex items-center -mt-2 cursor-pointer text-gray-500" @click="cleanAnswer" v-if="value">
      <fa-icon :icon="['fas', 'times']"></fa-icon>
    </div>
    <p :class="`absolute -top-2 left-0 ${labelColor} text-white text-xs px-2 rounded-md shadow-xs`" v-if="value">
      {{ label }}
    </p>
    <div :class="{'w-full cursor-pointer select-none py-1 px-2': true, 'text-gray-400': !value, 'text-gray-700': value}" @click="showOptions = true">
      {{ value ? value.label : label }}
    </div>
    <!-- <input type="text"> -->
    <transition name="options-animation">
      <div
        class="bg-white shadow-md rounded-sm absolute left-1 right-1 top-5 z-40 divide-y mt-1 overflow-hidden border-2 border-blue-300 pt-1"
        v-if="showOptions"
      >
        <calendar @selected="onSelect" />
      </div>
    </transition>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, PropType, ref, watch } from 'vue';
import Calendar from '@/components/layout/Calendar.vue';
import { IDay, IDayMin } from '@/models/calendar.model';
import { cleanSource } from '@/utils';

export default defineComponent({
  name: 'CalendarInput',
  props: {
    label: {
      type: String,
      default: 'Seleccione...'
    },
    required: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object as PropType<IDayMin>
    },
    disabled: {
      type: Boolean,
      default: false
    },
    minimal: {
      type: Boolean,
      default: true
    }
  },
  components: {
    Calendar
  },
  emits: ['selected'],
  setup(props, { emit }) {
    const value = ref<IDayMin | null>(null);
    props.default && (value.value = {...props.default});
    const showOptions = ref(false);
    const onSelect = (val: IDay | null) => {
      value.value = val;
      showOptions.value = false;
      props.minimal ?
      emit('selected', val ? { timestamp: value.value?.timestamp, label: value.value?.label } : null) :
      emit('selected', val ? cleanSource(val) : null);
    };
    const empty = ref(false);
    const ring = computed(() => {
      if (empty.value) return 'ring-red-500';
      return showOptions.value ? 'ring-blue-800': 'ring-blue-300';
    });
    const validationFn = () => {
      if (props.required && !value.value) empty.value = true;
      else empty.value = false;
      return !empty.value;
    };
    const cleanAnswer = () => {
      value.value = null;
      if (props.required) validationFn(); 
      onSelect(null);
    };
    watch(() => showOptions.value, (actual, prev) => {
      if (prev === true && actual === false) validationFn(); 
    });
    const labelColor = computed(() => {
      if (showOptions.value) return 'bg-blue-800';
      return !empty.value ? 'bg-blue-300' : 'bg-red-500';
    });
    return {
      value,
      showOptions,
      onSelect,
      ring,
      validationFn,
      labelColor,
      cleanAnswer
    };
  }
});
</script>
<style scoped>
.options-animation-enter-active {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.options-animation-leave-active {
  transition: transform 0.3s ease-in, opacity 0.3s ease-in-out;
}
.options-animation-enter-from {
  transform: translate(0%, -10%);
  transform-origin: top center;
  opacity: 0;
}
.options-animation-enter-to {
  transform: translate(0%, 0%);
  opacity: 1;
}
.options-animation-leave-from {
  transform: translate(0%, 0%);
  opacity: 1;
}
.options-animation-leave-to {
  transform: translate(0%, -10%);
  opacity: 0;
}
</style>
