<template>
  <div :class="`flex items-center ${disabled ? '': 'cursor-pointer'}`" @click="onSelectionChange">
    <div :class="{'check-icon mr-1 flex items-center justify-center': true, 'check-selected': !disabled && isSelected, 'check-unselected': !disabled && !isSelected, 'check-disabled': disabled}">
      <fa-icon :icon="['fa', 'check']" size="sm" v-if="isSelected"></fa-icon>
    </div>
    <p :class="{'select-none': true, 'text-std': !disabled, 'text-disabled': disabled}">{{label}}</p>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '---'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: ['selected'],
  setup(props, { emit }) {
    const isSelected = ref(false);
    // eslint-disable-next-line vue/no-setup-props-destructure
    isSelected.value = props.value;
    const onSelectionChange = () => {
      if (props.disabled) return;
      isSelected.value = !isSelected.value;
      emit('selected', isSelected.value);
    };
    return {
      isSelected,
      onSelectionChange
    };
  }
});
</script>

<style scoped>
.check-icon {
  width: 21px;
  height: 21px;
  border: 2px solid;
  border-radius: 5px;
}
.check-selected {
  border-color: #4F91F6;
  background-color: #4F91F6;
  color: #fff;
}
.check-unselected {
  border-color: #4F91F6;
  color: #4F91F6;
  background-color: #fff;
}
.check-disabled {
  border-color: rgb(170, 170, 170);
  background-color: rgb(209, 209, 209);;
  color: rgb(170, 170, 170);;
}
.text-std {
  color: #4F91F6;
}
.text-disabled {
  color: rgb(170, 170, 170);
}
</style>
