<template>
  <!-- <p class="text-center text-gray-400 mt-8 mb-1">Mostrando</p> -->
  <div :class="{ 'flex justify-center space-x-2 mt-4': true, hidden: !paginate }">
    <btn-custom
      label=""
      :icon="['fa', 'chevron-left']"
      @click="$emit('previous')"
      :disabled="!backward"
    />
    <btn-custom
      label=""
      :icon="['fa', 'chevron-right']"
      @click="$emit('next')"
      :disabled="!forward"
    />
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import BtnCustom from '@/components/UI/BtnCustom.vue';

export default defineComponent({
  name: 'Pagination',
  components: {
    BtnCustom
  },
  props: {
    paginate: {
      type: Boolean,
      default: true
    },
    backward: {
      type: Boolean,
      default: true
    },
    forward: {
      type: Boolean,
      default: true
    }
  },
  emits:['previous', 'next']
});
</script>
