<template>
  <p class="text-center text-gray-500 font-light" v-if="items.length === 0"> {{ emptyMessage }} </p>
  <table style="width: 100%" v-else>
    <tr>
      <th v-for="(header, i) in headers" :key="'header' + i" :class="{'hidden md:block': !header.mobile}">{{ header.label }}</th>
    </tr>
    <tr
      v-for="(item, i) in items"
      :key="'item'+ i + item.uid"
      :class="{'cursor-pointer': clickable, 'pointer-events-none': !clickable, 'tr-hoverable': true}"
      @click="selectItem(item)"
    >
      <td v-for="(h, i) in headers" :key="'subheader' + i" :class="{'hidden md:block': !h.mobile}">{{ formatted(item.data[h.key], h.format) }}</td>
    </tr>
  </table>
</template>
<script lang="ts">
import { rutFormatter } from '@/utils';
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    emptyMessage: {
      type: String,
      default: 'No hay resultados'
    },
    clickable: {
      type: Boolean,
      default: false
    },
    headers: {
      type: Array,
      default: () => [{ label: 'Primero',  key: 'first', format: ''}, {label: 'Segundo',  key: 'second', format: ''}, {label: 'Tercero',  key: 'last', format: ''}]
    },
    items: {
      type: Array,
      default: () => [
        {
          uid: 'aaa',
          data: {
            first: 'Umo',
            second: 'Secccc',
            last: 'laststt'
          }
        },
        {
          uid: 'bbb',
          data: {
            first: 'Umo22222',
            second: 'Secccc3333',
            last: 'laststt3333'
          }
        }
      ]
    }
  },
  emits: ['selected'],
  setup(_props, { emit }) {
    const selectItem = (item: { [k: string]: any }) => {
      emit('selected', item);
    };
    const formatted = (val: any, format: string) => {
      switch (format) {
        case 'dni':
          return rutFormatter(val);
        default:
          return val;
      }
    };
    return {
      selectItem,
      formatted
    };
  }
});
</script>

<style scoped>
th {
  text-align: left;
  @apply text-blue-700;
}
tr {
  border-bottom: 1px solid rgb(216, 216, 216);
}
.tr-hoverable:hover {
  @apply bg-gray-100;
}
tr:last-child {
  border-bottom: none;
}
td,
th {
  padding: 6px 0;
}
</style>
