<template>
  <div
    :class="`rounded-sm relative mb-3 ring-2 ${ring} border-2 ${ disabled ? 'bg-gray-200 pointer-events-none border-gray-200' : 'bg-white border-white' }`"
    @click="onShowOptions(!showOptions)"
    style="box-sizing: content-box !important;"
  >
    <p :class="`absolute -top-2 left-0 ${labelColor} text-white text-xs px-2 rounded-md shadow-xs`" v-if="value">
      {{ label }}
    </p>
    <div class="w-full cursor-pointer text-gray-400 select-none px-2 py-1">
      {{ value ? value.label : label }}
    </div>
    <!-- <input type="text"> -->
    <transition name="options-animation">
      <div
        class="bg-white shadow-md rounded-sm absolute left-1 right-1 top-5 z-40 divide-y mt-1 overflow-hidden border-2 border-blue-300"
        v-if="showOptions"
      >
        <p
          class="px-3 py-1 cursor-pointer bg-gray-100 hover:bg-white transition-all duration-300 text-gray-400 hover:text-gray-700"
          v-for="item in items"
          :key="item.id"
          @click="onSelect(item)"
        >
          {{ item.label }}
        </p>
      </div>
    </transition>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, onMounted, PropType, ref, watch } from 'vue';
interface SelectItem {
  label: string;
  id: string | number;
}

export default defineComponent({
  name: 'TextSelect',
  props: {
    label: {
      type: String,
      default: 'Seleccione...'
    },
    items: {
      type: Array as PropType<SelectItem[]>,
      default: () => [
        { label: 'Item 1', id: 0 },
        { label: 'Item 2', id: 1 }
      ]
    },
    required: {
      type: Boolean,
      default: false
    },
    default: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: ['selected'],
  setup(props, { emit }) {
    const value = ref<SelectItem | null>(null);
    const preSelected = (d?: string) => {
      const item = props.items.find(el => el.id+'' === d ? d : props.default);
      item && (value.value = item);
    };
    onMounted(() => {
      props.default && preSelected();
    });
    const showOptions = ref(false);
    const onShowOptions = (show: boolean) => {
      if (props.disabled) {
        showOptions.value = false;
        return;
      }
      showOptions.value = show;
    };
    const onSelect = (val: SelectItem) => {
      value.value = val;
      emit('selected', val.id);
    };
    const empty = ref(false);
    const ring = computed(() => {
      if (empty.value) return 'ring-red-500';
      return showOptions.value ? 'ring-blue-800': 'ring-blue-300';
    });
    const validationFn = () => {
      if (props.required && !value.value) empty.value = true;
      else empty.value = false;
      return !empty.value;
    };
    watch(() => showOptions.value, (actual, prev) => {
      if (prev === true && actual === false) validationFn(); 
    });
    const labelColor = computed(() => {
      if (showOptions.value) return 'bg-blue-800';
      return !empty.value ? 'bg-blue-300' : 'bg-red-500';
    });

    return {
      value,
      showOptions,
      onSelect,
      ring,
      validationFn,
      labelColor,
      onShowOptions
    };
  }
});
</script>
<style scoped>
.options-animation-enter-active {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.options-animation-leave-active {
  transition: transform 0.3s ease-in, opacity 0.3s ease-in-out;
}
.options-animation-enter-from {
  transform: translate(0%, -10%);
  transform-origin: top center;
  opacity: 0;
}
.options-animation-enter-to {
  transform: translate(0%, 0%);
  opacity: 1;
}
.options-animation-leave-from {
  transform: translate(0%, 0%);
  opacity: 1;
}
.options-animation-leave-to {
  transform: translate(0%, -10%);
  opacity: 0;
}
</style>
