<template>
  <div class="relative flex-grow">
    <div class="absolute right-2 top-0 bottom-0 flex items-center cursor-pointer text-gray-500" @click="showPassword = !showPassword" v-if="type === 'password'">
      <fa-icon :icon="['far', 'eye-slash']" size="lg" v-if="showPassword"></fa-icon>
      <fa-icon :icon="['far', 'eye']" size="lg" v-else></fa-icon>
    </div>
    <input
      ref="inputRef"
      :type="inputType"
      :class="`rounded-sm ${disabled ? 'text-gray-400':'text-black'} px-2 py-1.5 font-regular ring-2 ${ring} transition-all duration-500 min-w-full focus:ring-blue-800 block disabled:bg-gray-200 mb-3`"
      :placeholder="placeholder"
      :value="value"
      @input="(event) => $emit('update:value', event.target.value)"
      @blur="onBlur"
      @focus="isFocus = true"
    />
    <p :class="`absolute -top-2 left-0 ${labelColor} text-white text-xs px-2 rounded-md shadow-xs`" v-if="value">
      {{placeholder}}
    </p>
    <p
      class="bg-red-500 text-white text-xs text-right absolute px-2 font-light absolute top-0 right-0 pointer-events-none rounded-bl-md"
    >
      {{ errorMessage }}
    </p>
  </div>
</template>
<script lang="ts">
import { inputValidation } from '@/utils';
import { ComponentPublicInstance, computed, defineComponent, onMounted, PropType, ref, watch } from 'vue';

export default defineComponent({
  name: 'TextInput',
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: 'placeholder'
    },
    value: {
      type: String,
      default: ''
    },
    validations: {
      type: Array as PropType<string[]>,
      default: () => []
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: ['update:value'],
  setup(props) {
    const isFocus = ref(false);
    const isValid = ref(true);
    const errorMessage = ref('');
    const ring = computed(() =>
      isValid.value ? 'ring-blue-300' : 'ring-red-500'
    );
    const labelColor = computed(() => {
      if (isFocus.value) return 'bg-blue-800';
      return isValid.value ? 'bg-blue-300' : 'bg-red-500';
    });

    const onBlur = () => {
      isFocus.value = false;
      validationFn();
    };

    const validationFn = () => {
      isValid.value = true;
      if (props.validations.length === 0) return true;
      props.validations.forEach((v: string) => {
        const validation = inputValidation(props.value, v);
        isValid.value = validation.valid;
        errorMessage.value = validation.errorMessage;
      });
      if (isValid.value) errorMessage.value = '';
      return isValid.value;
    };

    const showPassword = ref(false);
    const inputType = computed(() => {
      if (props.type === 'password') return showPassword.value ? 'text': 'password';
      return props.type;
    });

    const inputRef = ref<ComponentPublicInstance<HTMLInputElement> | null>(null);
    onMounted(() => {
      inputRef.value && (inputRef.value.disabled = props.disabled);
    });
    watch(() => props.disabled, (val) => {
      inputRef.value && (inputRef.value.disabled = val);
    });
    return {
      isValid,
      ring,
      validationFn,
      errorMessage,
      showPassword,
      inputType,
      isFocus,
      onBlur,
      labelColor,
      inputRef
    };
  }
});
</script>
