<template>
  <div
    :class="`rounded-sm px-1 py-1 flex-grow flex items-center flex-col ring-2 ${ring} relative ${ disabled ? 'bg-gray-200 pointer-events-none': 'bg-white' }`"
  >
    <p
      class="bg-red-500 text-white text-xs text-right absolute px-2 font-light absolute top-0 right-0 pointer-events-none rounded-bl-md"
    >
      {{ errorMessage }}
    </p>
    <p :class="`absolute -top-2 left-0 ${labelColor} text-white text-xs px-2 rounded-md shadow-xs`" v-if="value">
      {{placeholder}}
    </p>
    <slot></slot>
    <textarea
      ref="areaRef"
      class="px-1 w-full overflow-hidden text-gray-500 disabled:bg-gray-200"
      :placeholder="placeholder"
      :style="`height:${areaHeight}px`"
      :value="value"
      @focus="isFocus = true"
      @input="(event) => $emit('update:value', event.target.value)"
      @blur="onBlur"
    ></textarea>
  </div>
</template>
<script lang="ts">
import { inputValidation } from '@/utils';
import {
  ComponentPublicInstance,
  computed,
  defineComponent,
  nextTick,
  onMounted,
  ref,
  watch
} from 'vue';

export default defineComponent({
  name: 'TextareaCustom',
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: 'Escribir mensaje...'
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const areaRef = ref<ComponentPublicInstance<HTMLTextAreaElement> | null>(null);
    const areaHeight = ref(48);
    watch(
      () => props.value,
      () => {
        areaHeight.value = areaRef.value?.scrollHeight || 48;
      }
    );
    onMounted(async () => {
      nextTick();
      areaHeight.value = areaRef.value?.scrollHeight || 48;
    });
    //
    const isValid = ref(true);
    const errorMessage = ref('');
    const ring = computed(() => {
      if (isFocus.value) return 'ring-blue-800';
      return isValid.value ? 'ring-blue-300' : 'ring-red-500';
    }
    );
    const isFocus = ref(false);
    const validationFn = () => {
      isFocus.value = false;
      isValid.value = true;
      if (!props.required) return true;
      if (isValid.value) errorMessage.value = '';
      const validation = inputValidation(props.value, 'required');
      isValid.value = validation.valid;
      errorMessage.value = validation.errorMessage;
      return isValid.value;
    };
    const onBlur = () => {
      isFocus.value = false;
      validationFn();
    };
    const labelColor = computed(() => {
      if (isFocus.value) return 'bg-blue-800';
      return isValid.value ? 'bg-blue-300' : 'bg-red-500';
    });
    onMounted(() => {
      areaRef.value && (areaRef.value.disabled = props.disabled);
    });
    watch(() => props.disabled, (val) => {
      areaRef.value && (areaRef.value.disabled = val);
    });
    return {
      areaRef,
      areaHeight,
      isValid,
      errorMessage,
      ring,
      validationFn,
      isFocus,
      labelColor,
      onBlur
    };
  }
});
</script>
